In [1]:
import pandas as pd
import json
import folium

In [2]:
df_1 = pd.read_csv("./연별,지역별 전력 사용량.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      204 non-null    int64
 1   시도      204 non-null    object
 2   사용량     204 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.9+ KB

In [3]:
df_3 = pd.read_csv("./마커.csv")
df_3.drop(columns=['Unnamed: 0'], inplace=True)
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      17 non-null     object
 1   위도      17 non-null     float64
 2   경도      17 non-null     float64
dtypes: float64(2), object(1)
memory usage: 536.0+ bytes

In [5]:
df_4 = pd.read_csv("./사용량, 지방세.csv")
df_4.drop(columns=['Unnamed: 0'], inplace=True)
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      204 non-null    object
 1   연도      204 non-null    int64
 2   지방세     204 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.9+ KB

In [7]:
df_data = pd.merge(df_3,df_4, how='outer',on='시도')
df_data

        시도         위도          경도    연도       지방세
0    서울특별시  37.551638  126.993243  2010  12074840
1    서울특별시  37.551638  126.993243  2011  12913964
2    서울특별시  37.551638  126.993243  2012  13436966
3    서울특별시  37.551638  126.993243  2013  12980600
4    서울특별시  37.551638  126.993243  2014  14502519
..     ...        ...         ...   ...       ...
199   충청북도  36.999466  127.700783  2017   2106205
200   충청북도  36.999466  127.700783  2018   2281543
201   충청북도  36.999466  127.700783  2019   2573152
202   충청북도  36.999466  127.700783  2020   2770501
203   충청북도  36.999466  127.700783  2021   3149318

[204 rows x 5 columns]

In [11]:
df_2 = pd.read_csv("./연별,지역별 전력 사용량.csv")
df_2.drop(columns=['Unnamed: 0'], inplace=True)
df_2

       연도       시도       사용량
0    2010      강원도  14848023
1    2010      경기도  93074871
2    2010     경상남도  31549217
3    2010     경상북도  41589043
4    2010    광주광역시   7860058
..    ...      ...       ...
199  2021     전라남도  33486887
200  2021     전라북도  21486859
201  2021  제주특별자치도   5687731
202  2021     충청남도  48801625
203  2021     충청북도  28402061

[204 rows x 3 columns]

In [12]:
df_data2 = pd.merge(df_data,df_2, how='outer',on=['연도', '시도'])
df_data2

        시도         위도          경도    연도       지방세       사용량
0    서울특별시  37.551638  126.993243  2010  12074840  47295099
1    서울특별시  37.551638  126.993243  2011  12913964  46902993
2    서울특별시  37.551638  126.993243  2012  13436966  47234105
3    서울특별시  37.551638  126.993243  2013  12980600  46555107
4    서울특별시  37.551638  126.993243  2014  14502519  45018864
..     ...        ...         ...   ...       ...       ...
199   충청북도  36.999466  127.700783  2017   2106205  24843380
200   충청북도  36.999466  127.700783  2018   2281543  26239764
201   충청북도  36.999466  127.700783  2019   2573152  26732304
202   충청북도  36.999466  127.700783  2020   2770501  26901893
203   충청북도  36.999466  127.700783  2021   3149318  28402061

[204 rows x 6 columns]

In [13]:
# df_data2.to_csv('전력량_지방세_마커.csv')