In [2]:
import pandas as pd

In [195]:
def col_change(df):
    df.columns = ['연도','시도','시군구','계약종별',
                  '1월','2월','3월','4월','5월',
                  '6월','7월','8월','9월','10월',
                  '11월','12월']

    df.drop([0, 1], axis=0, inplace=True)

    return df

In [196]:
df2010 = pd.read_excel("시군구별 전력사용량(2010년).xlsx")
df2011 = pd.read_excel("시군구별 전력사용량(2011년).xlsx")
df2012 = pd.read_excel("시군구별 전력사용량(2012년).xlsx")
df2013 = pd.read_excel("시군구별 전력사용량(2013년).xlsx")
df2014 = pd.read_excel("150128 시군구별 전력사용량(2014년 1월~12월).xlsx")
df2015 = pd.read_excel("시군구별 전력사용량(2015년 12월).xlsx")
df2016 = pd.read_excel("시군구별 전력사용량(2016년 12월).xlsx")
df2017 = pd.read_excel("8.시군구별 전력사용량(홈페이지 게시용)_201712.xlsx")
df2018 = pd.read_excel("8.시군구별 전력사용량(홈페이지 게시용)_201812.xlsx")
df2019 = pd.read_excel("(2019)시군구별 전력사용량.xlsx")
df2020 = pd.read_excel("시군구별 전력사용량(홈페이지 게시용)_202012.xlsx")
df2021 = pd.read_excel("8.시군구별 전력사용량(홈페이지 게시용)_202112.xlsx")

df2010 = col_change(df2010).reset_index()
df2011 = col_change(df2011).reset_index()
df2012 = col_change(df2012).reset_index()
df2013 = col_change(df2013).reset_index()
df2014 = col_change(df2014).reset_index()
df2015 = col_change(df2015).reset_index()
df2016 = col_change(df2016).reset_index()
df2017 = col_change(df2017).reset_index()
df2018 = col_change(df2018).reset_index()
df2019 = col_change(df2019).reset_index()
df2020 = col_change(df2020).reset_index()
df2021 = col_change(df2021).reset_index()

In [197]:
df_all = pd.concat([df2010,
                    df2011,
                    df2012,
                    df2013,
                    df2014,
                    df2015,
                    df2016,
                    df2017,
                    df2018,
                    df2019,
                    df2020,
                    df2021])

df_all

,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1830,1832,2021,세종특별자치시,세종시,합 계,334175873,304009818,296000438,287523780,275185212,292890410,315298529,339002099,309351099,286700993,297290104,957934330
1831,1833,2021,황해북도,개성시,주택용,0,0,0,0,0,0,0,0,0,0,0,0
1832,1834,2021,황해북도,개성시,일반용,0,0,0,0,0,0,0,0,0,0,0,0
1833,1835,2021,황해북도,개성시,산업용,0,0,0,0,0,0,0,0,0,0,0,0
1834,1836,2021,황해북도,개성시,합 계,0,0,0,0,0,0,0,0,0,0,0,0

In [198]:
df_all.head(5)

,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295

In [199]:
df_all = df_all.drop(df_all[df_all['시도'] == '황해북도'].index)
df_all.head(5)

,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295

In [200]:
df_all.reset_index()
df_all.head(10)

,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295
5,7,2010년,서울특별시,강남구,가로등,3000,2786,2469,2405,2162,2070,2000,2177,2250,2462,2716,2844
6,8,2010년,서울특별시,강남구,심야,3582,3333,2717,2781,3816,6982,9499,10350,7312,3421,2096,2717
7,9,2010년,서울특별시,강남구,총계,457927,424894,373656,376910,349786,393627,457405,496809,450576,350481,363305,413633
8,10,2010년,서울특별시,강동구,주택용,54938,53491,46423,49042,45876,47478,50630,58362,53778,46072,48518,51061
9,11,2010년,서울특별시,강동구,일반용,69656,65933,53901,54927,49538,55922,65844,73030,67560,50399,52600,60848

In [201]:
df_all.columns

Index(['index', '연도', '시도', '시군구', '계약종별', '1월', '2월', '3월', '4월', '5월', '6월',
       '7월', '8월', '9월', '10월', '11월', '12월'],
      dtype='object')

In [202]:
# df_all = df_all.drop(df_all[df_all['계약종별'] == '심야'].index)
df_all

,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,1827,2021,세종특별자치시,세종시,교육용,9919429,7998599,7094752,6676212,5149060,5564557,6155191,5625312,6224255,5467544,6562494,8728109
1826,1828,2021,세종특별자치시,세종시,산업용,170948117,149379414,165118636,161735480,158141171,165891271,174174622,166810462,160030114,160105571,161778265,169320998
1827,1829,2021,세종특별자치시,세종시,농사용,8886933,8611497,7139862,6210078,6071323,6852686,7685545,10788765,9285211,7156614,10000246,7146127
1828,1830,2021,세종특별자치시,세종시,가로등,3281397,3111585,2839473,2805388,2570629,2441638,2383116,2520946,2653518,2853168,3140008,3264933
1829,1831,2021,세종특별자치시,세종시,심 야,13388874,12496456,9074443,6714929,4219524,2794306,1699694,1375779,1554697,2266419,6078348,9431606

In [203]:
df_test = df_all.loc[df_all['계약종별'].isin(['총계', '총 계'])]

In [208]:
df_test = df_test.reset_index()

In [210]:
df_test.columns

Index(['level_0', 'index', '연도', '시도', '시군구', '계약종별', '1월', '2월', '3월', '4월',
       '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      dtype='object')

In [219]:
df_test.drop(['level_0'], axis=0)

KeyError: "['level_0'] not found in axis"

In [220]:
df_test

,level_0,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,7,9,2010년,서울특별시,강남구,총계,457927,424894,373656,376910,349786,393627,457405,496809,450576,350481,363305,413633
1,15,17,2010년,서울특별시,강동구,총계,144932,138528,118182,122005,111808,120631,135088,149326,138737,112613,119957,132367
2,23,25,2010년,서울특별시,강북구,총계,90056,87984,72971,76623,69216,71907,79741,91081,86153,70080,73777,81674
3,31,33,2010년,서울특별시,강서구,총계,186338,178368,153856,159663,147469,155677,172732,194199,182702,147682,153640,168821
4,39,41,2010년,서울특별시,관악구,총계,159420,154923,130358,138016,124745,132059,148250,166418,159093,126106,131912,145001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,1794,1796,2013년,경상남도,통영시,총계,122958,110711,101443,96846,91522,84682,92476,98085,87457,81839,84138,92221
911,1802,1804,2013년,경상남도,하동군,총계,32786,32756,26148,25339,24625,20377,20134,24425,23045,20710,26789,31069
912,1810,1812,2013년,경상남도,함안군,총계,221006,202363,216666,216313,204414,200131,204476,184472,192527,205715,216488,235713
913,1818,1820,2013년,경상남도,함양군,총계,25568,24689,20370,20008,18134,16742,17261,20514,20345,17381,20546,22728
914,1826,1828,2013년,경상남도,합천군,총계,37159,36651,31184,29536,25558,24186,24874,29096,27414,24119,29776,33299

In [224]:
# data = pd.read_csv('전력 사용량 3차.csv')

In [226]:
data.head(100)

,Unnamed: 0,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,7,9,2010년,서울특별시,강남구,총계,457927,424894,373656,376910,349786,393627,457405,496809,450576,350481,363305,413633
1,15,17,2010년,서울특별시,강동구,총계,144932,138528,118182,122005,111808,120631,135088,149326,138737,112613,119957,132367
2,23,25,2010년,서울특별시,강북구,총계,90056,87984,72971,76623,69216,71907,79741,91081,86153,70080,73777,81674
3,31,33,2010년,서울특별시,강서구,총계,186338,178368,153856,159663,147469,155677,172732,194199,182702,147682,153640,168821
4,39,41,2010년,서울특별시,관악구,총계,159420,154923,130358,138016,124745,132059,148250,166418,159093,126106,131912,145001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,765,767,2010년,경기도,오산시,총계,107689,100270,94706,95823,88868,90189,95809,99913,97682,87055,91919,100267
96,773,775,2010년,경기도,용인시,총계,727884,722955,666194,672728,654897,647086,692432,721126,683158,633509,666043,722211
97,781,783,2010년,경기도,의왕시,총계,62111,59305,51261,53387,52575,48208,52550,56106,53676,46318,51235,57719
98,789,791,2010년,경기도,의정부시,총계,159178,150572,127795,128431,116878,122203,131777,143116,136084,114165,125551,142753
99,797,799,2010년,경기도,이천시,총계,347928,329214,318275,310066,296629,288415,306467,322768,305918,297586,322619,348926

In [3]:
df = pd.read_csv('전력 사용량 3차.csv')

In [9]:
df.columns

Index(['Unnamed: 0', 'index', '연도', '시도', '시군구', '계약종별', '1월', '2월', '3월',
       '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      dtype='object')

In [14]:
df = df[['연도', '시도', '시군구', '1월', '2월', '3월',
       '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']]

In [23]:
df.loc[df['시도'].isin(['세종시'])]

Empty DataFrame
Columns: [연도, 시도, 시군구, 1월, 2월, 3월, 4월, 5월, 6월, 7월, 8월, 9월, 10월, 11월, 12월]
Index: []

In [51]:
sejong = pd.read_csv('전력 사용량 1차.csv')

In [52]:
sejong

,Unnamed: 0,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22091,1830,1832,2021,세종특별자치시,세종시,합 계,334175873,304009818,296000438,287523780,275185212,292890410,315298529,339002099,309351099,286700993,297290104,957934330
22092,1831,1833,2021,황해북도,개성시,주택용,0,0,0,0,0,0,0,0,0,0,0,0
22093,1832,1834,2021,황해북도,개성시,일반용,0,0,0,0,0,0,0,0,0,0,0,0
22094,1833,1835,2021,황해북도,개성시,산업용,0,0,0,0,0,0,0,0,0,0,0,0
22095,1834,1836,2021,황해북도,개성시,합 계,0,0,0,0,0,0,0,0,0,0,0,0

In [53]:
sejong = sejong.drop(sejong[sejong['시도'] == '황해북도'].index)

In [54]:
sejong

,Unnamed: 0,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22087,1826,1828,2021,세종특별자치시,세종시,산업용,170948117,149379414,165118636,161735480,158141171,165891271,174174622,166810462,160030114,160105571,161778265,169320998
22088,1827,1829,2021,세종특별자치시,세종시,농사용,8886933,8611497,7139862,6210078,6071323,6852686,7685545,10788765,9285211,7156614,10000246,7146127
22089,1828,1830,2021,세종특별자치시,세종시,가로등,3281397,3111585,2839473,2805388,2570629,2441638,2383116,2520946,2653518,2853168,3140008,3264933
22090,1829,1831,2021,세종특별자치시,세종시,심 야,13388874,12496456,9074443,6714929,4219524,2794306,1699694,1375779,1554697,2266419,6078348,9431606
22091,1830,1832,2021,세종특별자치시,세종시,합 계,334175873,304009818,296000438,287523780,275185212,292890410,315298529,339002099,309351099,286700993,297290104,957934330

In [55]:
sejong = sejong.reset_index()

In [72]:
# sejong.to_csv('전력 사용량 5차.csv')
sejong = pd.read_csv('전력 사용량 5차.csv')
sejong['계약종별'] = sejong['계약종별'].str.replace(' ', '')

In [73]:
sejong1 = sejong.loc[sejong['계약종별'].isin(['총계'])]
sejong2 = sejong.loc[sejong['계약종별'].isin(['합계'])]

In [80]:
data_sejong = pd.concat([sejong1, sejong2])
data_sejong['연도'] = data_sejong['연도'].str.replace('년', '')
data_sejong

,Unnamed: 0.1,level_0,Unnamed: 0,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
7,7,7,7,9,2010,서울특별시,강남구,총계,457927,424894,373656,376910,349786,393627,457405,496809,450576,350481,363305,413633
15,15,15,15,17,2010,서울특별시,강동구,총계,144932,138528,118182,122005,111808,120631,135088,149326,138737,112613,119957,132367
23,23,23,23,25,2010,서울특별시,강북구,총계,90056,87984,72971,76623,69216,71907,79741,91081,86153,70080,73777,81674
31,31,31,31,33,2010,서울특별시,강서구,총계,186338,178368,153856,159663,147469,155677,172732,194199,182702,147682,153640,168821
39,39,39,39,41,2010,서울특별시,관악구,총계,159420,154923,130358,138016,124745,132059,148250,166418,159093,126106,131912,145001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22005,22005,22059,1798,1800,2021,경상남도,거창군,합계,47116824,45119178,38821816,37553319,34101281,35161686,37020056,42206401,39628481,36021460,39101245,41625162
22013,22013,22067,1806,1808,2021,경상남도,합천군,합계,45048230,42419581,34913314,31939773,28024220,29880236,32038415,37041550,33598268,29192917,36706020,38955857
22021,22021,22075,1814,1816,2021,제주특별자치도,제주시,합계,294028645,283095735,256473466,262635034,250933819,265903001,304950248,340421930,308455234,274784662,269691271,284757670
22029,22029,22083,1822,1824,2021,제주특별자치도,서귀포시,합계,224228943,220227913,194331137,199187910,180024519,171543567,181888234,203887668,187093781,172163904,168487552,188533778
22037,22037,22091,1830,1832,2021,세종특별자치시,세종시,합계,334175873,304009818,296000438,287523780,275185212,292890410,315298529,339002099,309351099,286700993,297290104,957934330

In [82]:
# data_sejong.to_csv('전력 사용량 6차')

In [95]:
data = pd.read_csv("전력 사용량 6차.csv")
data['계약종별'] = data['계약종별'].str.replace('총계', '합계')
data = data.drop(columns=['시군구', '계약종별'])
data

,Unnamed: 0.2,Unnamed: 0.1,level_0,Unnamed: 0,index,연도,시도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,7,7,7,7,9,2010,서울특별시,457927,424894,373656,376910,349786,393627,457405,496809,450576,350481,363305,413633
1,15,15,15,15,17,2010,서울특별시,144932,138528,118182,122005,111808,120631,135088,149326,138737,112613,119957,132367
2,23,23,23,23,25,2010,서울특별시,90056,87984,72971,76623,69216,71907,79741,91081,86153,70080,73777,81674
3,31,31,31,31,33,2010,서울특별시,186338,178368,153856,159663,147469,155677,172732,194199,182702,147682,153640,168821
4,39,39,39,39,41,2010,서울특별시,159420,154923,130358,138016,124745,132059,148250,166418,159093,126106,131912,145001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2756,22005,22005,22059,1798,1800,2021,경상남도,47116824,45119178,38821816,37553319,34101281,35161686,37020056,42206401,39628481,36021460,39101245,41625162
2757,22013,22013,22067,1806,1808,2021,경상남도,45048230,42419581,34913314,31939773,28024220,29880236,32038415,37041550,33598268,29192917,36706020,38955857
2758,22021,22021,22075,1814,1816,2021,제주특별자치도,294028645,283095735,256473466,262635034,250933819,265903001,304950248,340421930,308455234,274784662,269691271,284757670
2759,22029,22029,22083,1822,1824,2021,제주특별자치도,224228943,220227913,194331137,199187910,180024519,171543567,181888234,203887668,187093781,172163904,168487552,188533778
2760,22037,22037,22091,1830,1832,2021,세종특별자치시,334175873,304009818,296000438,287523780,275185212,292890410,315298529,339002099,309351099,286700993,297290104,957934330

In [96]:
data_test = data.groupby('시도').sum()

In [100]:
data_test = data_test.drop(columns=['Unnamed: 0.1', 'level_0', 'Unnamed: 0', 'index'])
data_test

,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
시도,,,,,,,,,,,,
강원도,12840719046,12302733938,11449190251,10964718135,10063998457,9776504769,9962808588,10640961225,10096890486,9934154283,10979729401,12228290217
경기도,86603210405,82882324990,77411321682,74372031380,70508201326,72961718404,77854855524,84580266201,77971089647,71298494511,75574312926,83708255436
경상남도,26304118559,25052025513,23791850144,22774421652,20946722049,21296158071,22521373376,23375442240,22356446320,20794530265,22229630169,24579931314
경상북도,32495637242,30226075516,30410859891,29506176626,28592594237,28816592293,28759121803,30149617395,29123978164,28388909486,29249960913,31066293684
광주광역시,6229481502,6045763397,5580768143,5479665732,5092666849,5412871070,5898585896,6499927560,5983179154,5209875883,5406880334,5847475522
대구광역시,11272371965,10822969984,9919036695,9730039442,9132886823,9639067598,10299034524,11229536166,10314579709,9138988155,9624390867,10541266632
대전광역시,6970851365,6696096885,6179022349,5946478483,5618555191,5977707016,6447577687,7152891538,6434487816,5678260415,5796302247,6445147873
부산광역시,14890049079,14309800672,13443070513,13292893034,12528756256,12980814754,13953654782,15413006471,14405581358,12825921200,13056408462,14030371290
서울특별시,34237649818,33126151695,28983392327,27877418010,26682199859,29432964197,33334626566,38171676882,33069728106,27331733029,27711464369,31481867581
세종특별자치시,2159731259,2042213247,2006853270,1936599047,1837102526,1920265495,2033776277,2122823151,2034332799,1889900624,2012645664,2807935889
울산광역시,22295209472,20400230356,21634052094,20942639619,21183391381,20917142565,22298149192,22622007883,22009127383,21474972379,20849518275,22232084059
인천광역시,17609497469,16424363684,15996092736,15358076926,14732958794,15260894260,16283720266,17462506160,15919024179,14701886574,15362438525,16901311595
전라남도,23172147528,21698478018,22157717419,22309554331,21406135458,20332755244,21252232595,22761674444,22292065831,21289456433,20873276064,22549877207
전라북도,16555977753,15566112676,15253529173,14656762951,14001779886,13774950682,14062479937,14923602566,14614974514,13826267983,14528081383,15504607052
제주특별자치도,3691763539,3737591157,3344773853,3353655347,3055425546,3033426365,3238395379,3791808997,3436999117,2987253938,3072572842,3380873457
충청남도,35652001365,33294278583,33771199391,32170920891,31576644614,31603588014,33351887584,34288890232,32389452452,31277882484,33145635202,34746117632
충청북도,18286947918,17330680068,17076491386,16579721283,15824554992,15969944089,16805815702,17316550110,16411386231,15780848474,16810518240,18146025845

In [102]:
data_test.to_csv('전력 사용량 월 시도월평균.csv')

In [88]:
data['연도', '시도', '시군구', '계약종별', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']

KeyError: ('연도', '시도', '시군구', '계약종별', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월')

In [35]:
sejong.columns

Index(['level_0', 'Unnamed: 0', 'index', '연도', '시도', '시군구', '계약종별', '1월', '2월',
       '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      dtype='object')

In [38]:
sejong['연도'] = sejong['연도'].str.replace('년', '')
sejong

,level_0,Unnamed: 0,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
7,7,7,9,2010,서울특별시,강남구,총계,457927,424894,373656,376910,349786,393627,457405,496809,450576,350481,363305,413633
15,15,15,17,2010,서울특별시,강동구,총계,144932,138528,118182,122005,111808,120631,135088,149326,138737,112613,119957,132367
23,23,23,25,2010,서울특별시,강북구,총계,90056,87984,72971,76623,69216,71907,79741,91081,86153,70080,73777,81674
31,31,31,33,2010,서울특별시,강서구,총계,186338,178368,153856,159663,147469,155677,172732,194199,182702,147682,153640,168821
39,39,39,41,2010,서울특별시,관악구,총계,159420,154923,130358,138016,124745,132059,148250,166418,159093,126106,131912,145001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7341,7359,1818,1820,2013,경상남도,함양군,총계,25568,24689,20370,20008,18134,16742,17261,20514,20345,17381,20546,22728
7349,7367,1826,1828,2013,경상남도,합천군,총계,37159,36651,31184,29536,25558,24186,24874,29096,27414,24119,29776,33299
7357,7375,1834,1836,2013,제주특별자치도,서귀포시,총계,142401,145239,130391,136528,125890,116735,122384,140831,130080,116446,121561,135124
7365,7383,1842,1844,2013,제주특별자치도,제주시,총계,231362,224884,201198,206440,189200,188416,210522,253009,221370,191053,197746,216090
7373,7391,1850,1852,2013,세종특별자치시,NaN,총계,215974,198312,193991,193422,182642,184294,189805,201942,187499,185655,197762,214230

In [40]:
sejong.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 923 entries, 7 to 7373
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     923 non-null    int64
 1   Unnamed: 0  923 non-null    int64
 2   index       923 non-null    int64
 3   연도          923 non-null    object
 4   시도          923 non-null    object
 5   시군구         921 non-null    object
 6   계약종별        923 non-null    object
 7   1월          923 non-null    int64
 8   2월          923 non-null    int64
 9   3월          923 non-null    int64
 10  4월          923 non-null    int64
 11  5월          923 non-null    int64
 12  6월          923 non-null    int64
 13  7월          923 non-null    int64
 14  8월          923 non-null    int64
 15  9월          923 non-null    int64
 16  10월         923 non-null    int64
 17  11월         923 non-null    int64
 18  12월         923 non-null    int64
dtypes: int64(15), object(4)
memory usage: 144.2+ KB

In [42]:
sejong = sejong.drop(columns=['시군구', '계약종별'])

In [43]:
sejong

,level_0,Unnamed: 0,index,연도,시도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
7,7,7,9,2010,서울특별시,457927,424894,373656,376910,349786,393627,457405,496809,450576,350481,363305,413633
15,15,15,17,2010,서울특별시,144932,138528,118182,122005,111808,120631,135088,149326,138737,112613,119957,132367
23,23,23,25,2010,서울특별시,90056,87984,72971,76623,69216,71907,79741,91081,86153,70080,73777,81674
31,31,31,33,2010,서울특별시,186338,178368,153856,159663,147469,155677,172732,194199,182702,147682,153640,168821
39,39,39,41,2010,서울특별시,159420,154923,130358,138016,124745,132059,148250,166418,159093,126106,131912,145001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7341,7359,1818,1820,2013,경상남도,25568,24689,20370,20008,18134,16742,17261,20514,20345,17381,20546,22728
7349,7367,1826,1828,2013,경상남도,37159,36651,31184,29536,25558,24186,24874,29096,27414,24119,29776,33299
7357,7375,1834,1836,2013,제주특별자치도,142401,145239,130391,136528,125890,116735,122384,140831,130080,116446,121561,135124
7365,7383,1842,1844,2013,제주특별자치도,231362,224884,201198,206440,189200,188416,210522,253009,221370,191053,197746,216090
7373,7391,1850,1852,2013,세종특별자치시,215974,198312,193991,193422,182642,184294,189805,201942,187499,185655,197762,214230

In [3]:
data_set = pd.read_csv('전력 사용량 6차.csv')

In [5]:
data_set.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'level_0', 'Unnamed: 0', 'index', '연도',
       '시도', '시군구', '계약종별', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월',
       '9월', '10월', '11월', '12월'],
      dtype='object')

In [9]:
data_set = data_set[['연도',
       '시도', '시군구', '계약종별', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월',
       '9월', '10월', '11월', '12월']]

In [16]:
data_set.to_csv('전력 사용량 7차')

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_csv'

In [19]:
data_set = pd.read_csv('전력 사용량 7차.csv')

In [26]:
data = data_set[['연도', '시도', '1월', '2월', '3월', '4월', '5월',
       '6월', '7월', '8월', '9월', '10월', '11월', '12월']]

In [28]:
data = data.groupby(['연도', '시도']).sum()

In [30]:
data.to_csv('전력 사용량 8차.csv')

In [31]:
data

                      1월          2월          3월          4월          5월  \
연도   시도
2010 강원도         1480180     1382020     1308429     1317499     1185530
     경기도         8725482     8341902     7574084     7727001     7156767
     경상남도        2922775     2719682     2648326     2665253     2453568
     경상북도        3743904     3471888     3484251     3454660     3321968
     광주광역시        712924      682498      632293      642843      603935
...                  ...         ...         ...         ...         ...
2021 전라남도     2844658203  2738900197  2724004606  2670493390  2722102574
     전라북도     1997136384  1830234267  1771152739  1725471485  1667691078
     제주특별자치도   518257588   503323648   450804603   461822944   430958338
     충청남도     4434196207  4039445323  4077386549  3876573166  3877528022
     충청북도     2596409187  2373601172  2344911299  2274004059  2232679399

                      6월          7월          8월          9월         10월  \
연도   시도
2010 강원도         1114450     1055938     1088438     1058865     1116695
     경기도         7152029     7589292     7961584     7659696     6868326
     경상남도        2429359     2550149     2600386     2594082     2428098
     경상북도        3301601     3344445     3428974     3394857     3370268
     광주광역시        605548      667137      697066      692544      605233
...                  ...         ...         ...         ...         ...
2021 전라남도     2648105312  2856349636  3073050040  2836764382  2726494702
     전라북도     1697452622  1803462489  1923328048  1791056418  1679463621
     제주특별자치도   437446568   486838482   544309598   495549015   446948566
     충청남도     3770864537  4137216305  4257399474  3978321724  3855222164
     충청북도     2283539903  2404437392  2507863447  2310911637  2232922651

                     11월         12월
연도   시도
2010 강원도         1297575     1442404
     경기도         7866013     8452695
     경상남도        2623317     2914222
     경상북도        3498295     3773932
     광주광역시        632721      685316
...                  ...         ...
2021 전라남도     2679717505  2966245613
     전라북도     1736069147  1864342395
     제주특별자치도   438178823   473291448
     충청남도     4108694249  4388778130
     충청북도     2333918250  2506864235

[202 rows x 12 columns]

In [32]:
pd.read_csv('전력 사용량 8차.csv')

,연도,시도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2010,강원도,1480180,1382020,1308429,1317499,1185530,1114450,1055938,1088438,1058865,1116695,1297575,1442404
1,2010,경기도,8725482,8341902,7574084,7727001,7156767,7152029,7589292,7961584,7659696,6868326,7866013,8452695
2,2010,경상남도,2922775,2719682,2648326,2665253,2453568,2429359,2550149,2600386,2594082,2428098,2623317,2914222
3,2010,경상북도,3743904,3471888,3484251,3454660,3321968,3301601,3344445,3428974,3394857,3370268,3498295,3773932
4,2010,광주광역시,712924,682498,632293,642843,603935,605548,667137,697066,692544,605233,632721,685316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,2021,전라남도,2844658203,2738900197,2724004606,2670493390,2722102574,2648105312,2856349636,3073050040,2836764382,2726494702,2679717505,2966245613
198,2021,전라북도,1997136384,1830234267,1771152739,1725471485,1667691078,1697452622,1803462489,1923328048,1791056418,1679463621,1736069147,1864342395
199,2021,제주특별자치도,518257588,503323648,450804603,461822944,430958338,437446568,486838482,544309598,495549015,446948566,438178823,473291448
200,2021,충청남도,4434196207,4039445323,4077386549,3876573166,3877528022,3770864537,4137216305,4257399474,3978321724,3855222164,4108694249,4388778130
201,2021,충청북도,2596409187,2373601172,2344911299,2274004059,2232679399,2283539903,2404437392,2507863447,2310911637,2232922651,2333918250,2506864235