In [1]:
import pandas as pd

In [2]:
pop_d = pd.read_csv("2011~2022_인구밀도.csv")

In [3]:
date = pop_d['Unnamed: 0'].to_list()

In [4]:
date

[2011.01,
 2011.02,
 2011.03,
 2011.04,
 2011.05,
 2011.06,
 2011.07,
 2011.08,
 2011.09,
 2011.1,
 2011.11,
 2011.12,
 2012.01,
 2012.02,
 2012.03,
 2012.04,
 2012.05,
 2012.06,
 2012.07,
 2012.08,
 2012.09,
 2012.1,
 2012.11,
 2012.12,
 2013.01,
 2013.02,
 2013.03,
 2013.04,
 2013.05,
 2013.06,
 2013.07,
 2013.08,
 2013.09,
 2013.1,
 2013.11,
 2013.12,
 2014.01,
 2014.02,
 2014.03,
 2014.04,
 2014.05,
 2014.06,
 2014.07,
 2014.08,
 2014.09,
 2014.1,
 2014.11,
 2014.12,
 2015.01,
 2015.02,
 2015.03,
 2015.04,
 2015.05,
 2015.06,
 2015.07,
 2015.08,
 2015.09,
 2015.1,
 2015.11,
 2015.12,
 2016.01,
 2016.02,
 2016.03,
 2016.04,
 2016.05,
 2016.06,
 2016.07,
 2016.08,
 2016.09,
 2016.1,
 2016.11,
 2016.12,
 2017.01,
 2017.02,
 2017.03,
 2017.04,
 2017.05,
 2017.06,
 2017.07,
 2017.08,
 2017.09,
 2017.1,
 2017.11,
 2017.12,
 2018.01,
 2018.02,
 2018.03,
 2018.04,
 2018.05,
 2018.06,
 2018.07,
 2018.08,
 2018.09,
 2018.1,
 2018.11,
 2018.12,
 2019.01,
 2019.02,
 2019.03,
 2019.04,
 2019.05,
 2019.06,
 2019.07,
 2019.08,
 2019.09,
 2019.1,
 2019.11,
 2019.12,
 2020.01,
 2020.02,
 2020.03,
 2020.04,
 2020.05,
 2020.06,
 2020.07,
 2020.08,
 2020.09,
 2020.1,
 2020.11,
 2020.12,
 2021.01,
 2021.02,
 2021.03,
 2021.04,
 2021.05,
 2021.06,
 2021.07,
 2021.08,
 2021.09,
 2021.1,
 2021.11,
 2021.12,
 2022.01,
 2022.02,
 2022.03,
 2022.04,
 2022.05,
 2022.06,
 2022.07,
 2022.08,
 2022.09,
 2022.1,
 2022.11,
 2022.12]

In [6]:
pop_d['연월'] = date

In [7]:
pop_d = pop_d.astype({'연월':'float'})

In [10]:
pop_d = pop_d.melt(id_vars=['연월'], value_vars=['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '제주특별자치도'], var_name='시도', value_name='인구밀도')

In [11]:
pop_d

           연월       시도   인구밀도
0     2011.01    서울특별시  17046
1     2011.02    서울특별시  17048
2     2011.03    서울특별시  17037
3     2011.04    서울특별시  17027
4     2011.05    서울특별시  17017
...       ...      ...    ...
2443  2022.08  제주특별자치도    367
2444  2022.09  제주특별자치도    366
2445  2022.10  제주특별자치도    366
2446  2022.11  제주특별자치도    366
2447  2022.12  제주특별자치도    366

[2448 rows x 3 columns]

In [21]:
pop_d = pop_d.astype({'연월':'str'})

In [22]:
year = []
month = []
for i in range(len(pop_d)):
    y = pop_d['연월'][i].split('.')[0]
    m = pop_d['연월'][i].split('.')[1]
    if m == '1':
        m = '10'
    year.append(y)
    month.append(m)    
pop_d['연도'] = year
pop_d['월'] = month

In [23]:
pop_d

           연월       시도   인구밀도    연도   월
0     2011.01    서울특별시  17046  2011  01
1     2011.02    서울특별시  17048  2011  02
2     2011.03    서울특별시  17037  2011  03
3     2011.04    서울특별시  17027  2011  04
4     2011.05    서울특별시  17017  2011  05
...       ...      ...    ...   ...  ..
2443  2022.08  제주특별자치도    367  2022  08
2444  2022.09  제주특별자치도    366  2022  09
2445   2022.1  제주특별자치도    366  2022  10
2446  2022.11  제주특별자치도    366  2022  11
2447  2022.12  제주특별자치도    366  2022  12

[2448 rows x 5 columns]

In [24]:
# pop.to_csv('2011~2022_인구밀도(2).csv')