In [4]:
### 라이브러리 호출

from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.express as px
import seaborn as sns
import pandas as pd
import numpy as np
import platform
import re

In [5]:
### 한글 폰트 설정

import platform
from matplotlib import font_manager, rc

if platform.system() == 'Windows':  # 현재 운영체제가 Windows인 경우
    # 폰트 파일 경로를 지정
    # 해당 폰트 파일의 이름 호출
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf"
                                            ).get_name()
    # 폰트 이름과 크기를 설정
    rc('font', family=font_name, size=8)
    plt.rcParams['axes.unicode_minus'] = False

<hr>

<h2>2021. 하반기 시도별 공장면적(제조업설비 현황) 그래프 시각화</h2>

In [10]:
### 공장면적 데이터 DataFrame Load

df = pd.read_csv("2010_2021_반기별_시도별_건축면적_제조부대시설.csv", encoding="cp949")
df

,시도별,2010.1/2,2010.2/2,2011.1/2,2011.2/2,2012.1/2,2012.2/2,2013.1/2,2013.2/2,2014.1/2,...,2017.1/2,2017.2/2,2018.1/2,2018.2/2,2019.1/2,2019.2/2,2020.1/2,2020.2/2,2021.1/2,2021.2/2
0,시도별,합계,합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,계,140132,142580,146176,149271,152026,154023,156928,161709,163822,...,184736,187106,189374,192244,194545,196251,195357,197420,200035,202146
2,서울특별시,10188,10377,10549,10618,10675,10689,10837,11024,10604,...,11546,11460,11584,11697,11688,11557,11550,11657,11651,11632
3,부산광역시,8215,8348,8550,8732,8972,8939,9190,9538,9762,...,10793,10669,10333,10435,10353,10378,10393,10506,10667,10729
4,대구광역시,6152,6351,6553,6618,6816,6937,7094,7263,7372,...,8181,8036,7931,8025,7980,8059,8013,8096,8203,8251
5,인천광역시,9140,9255,9509,9676,9744,9680,9621,9878,9998,...,11220,11466,11536,11690,11984,12057,12200,12199,12492,12616
6,광주광역시,3025,3059,3176,3245,3353,3454,3456,3594,3622,...,4366,4466,4543,4504,4542,4592,4256,4370,4435,4504
7,대전광역시,1924,2001,2077,2138,2182,2254,2266,2348,2348,...,2747,2828,2903,2982,3028,3136,3117,3257,3359,3469
8,울산광역시,1978,2028,2096,2136,2203,2272,2293,2366,2389,...,2729,2774,2820,2857,2882,2866,2839,2901,2925,2959
9,세종특별자치시,-,-,-,-,-,626,658,677,690,...,766,775,781,787,799,802,787,760,762,774
10,경기도,50785,51176,52226,53380,54213,54879,55873,57666,58693,...,65559,66586,67571,68681,69573,70085,69413,70243,71325,72189
11,강원도,2602,2665,2774,2841,2877,2945,3026,3160,3214,...,3611,3680,3761,3790,3749,3807,3671,3732,3794,3846
12,충청북도,5655,5785,5949,6024,6130,6040,6248,6601,6783,...,8060,8283,8477,8648,8782,8957,8897,9047,9026,9132
13,충청남도,6756,6942,7165,7569,7719,7328,7530,7816,7977,...,9406,9700,9955,10213,10447,10663,10776,10977,11138,11321
14,전라북도,4334,4458,4596,4709,4841,4913,4985,5165,5241,...,6156,6284,6439,6636,6773,6921,7063,7259,7406,7477
15,전라남도,4779,5001,5092,5151,5248,5368,5443,5532,5596,...,6314,6428,6588,6725,6901,7036,7143,7223,7421,7520
16,경상북도,10117,10361,10613,10852,11094,11412,11666,12076,12321,...,13978,14181,14471,14691,14965,15107,15142,15059,15278,15437
17,경상남도,13879,14153,14612,14928,15305,15628,16070,16324,16566,...,18620,18824,19009,19201,19418,19542,19401,19439,19441,19573
18,제주특별자치도,603,620,639,654,654,659,672,681,646,...,684,666,672,682,681,686,696,695,712,717

In [35]:
### 본 데이터는 기간 설정이 반기임.
# 우선 지역별 면적 자체가 중요하므로 합계는 반영하지 않음.

df_drop1 = df.drop([0,1])
df_reind1 = df_drop1.reset_index()
df_drop2 = df_reind1.drop("index", axis=1)
df_set = df_drop2.set_index('시도별')
df_reind2 = df_set.reset_index()
df_reind2.columns

Index(['시도별', '2010.1/2', '2010.2/2', '2011.1/2', '2011.2/2', '2012.1/2',
       '2012.2/2', '2013.1/2', '2013.2/2', '2014.1/2', '2014.2/2', '2015.1/2',
       '2015.2/2', '2016.1/2', '2016.2/2', '2017.1/2', '2017.2/2', '2018.1/2',
       '2018.2/2', '2019.1/2', '2019.2/2', '2020.1/2', '2020.2/2', '2021.1/2',
       '2021.2/2'],
      dtype='object')

In [40]:
### 이 시점에서 2010 ~ 2021 기간 전체를 반영할 필요가 있는지 고민하였고,
# 공장면적은 사실상 줄어들기 어렵다는 점을 감안하여 2021. 하반기의 '현황'을 확인하는 것이 나으리라 판단함.
# 이유 : 본 데이터 분석은 "제조업이 활성화된 지역의 전력소비량이 상대적으로 높을 것이다"라는 가설을 검증하기 위한 것이므로.

df_2021 = df_reind2.drop({'2010.1/2', '2010.2/2', '2011.1/2', '2011.2/2', '2012.1/2',
       '2012.2/2', '2013.1/2', '2013.2/2', '2014.1/2', '2014.2/2', '2015.1/2',
       '2015.2/2', '2016.1/2', '2016.2/2', '2017.1/2', '2017.2/2', '2018.1/2',
       '2018.2/2', '2019.1/2', '2019.2/2', '2020.1/2', '2020.2/2', '2021.1/2'}, axis=1)
df_fact1 = df_2021.rename(columns={'2021.2/2' : '공장면적'})
df_fact1

        시도별   공장면적
0     서울특별시  11632
1     부산광역시  10729
2     대구광역시   8251
3     인천광역시  12616
4     광주광역시   4504
5     대전광역시   3469
6     울산광역시   2959
7   세종특별자치시    774
8       경기도  72189
9       강원도   3846
10     충청북도   9132
11     충청남도  11321
12     전라북도   7477
13     전라남도   7520
14     경상북도  15437
15     경상남도  19573
16  제주특별자치도    717

In [41]:
# 관광객 column의 데이터타입을 object에서 int32로 변경
df_fact = df_fact1.astype({'공장면적':'int32'})
df_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도별     17 non-null     object
 1   공장면적    17 non-null     int32
dtypes: int32(1), object(1)
memory usage: 332.0+ bytes

<h3> 전력소비량 데이터 추출</h3>

In [54]:
### 전력소비량 csv파일 로드
df_elec = pd.read_csv('201001_202112_월별_시도별_전력사용량.csv')
df_elec.columns

Index(['Unnamed: 0', '연도', '시도', '1월', '2월', '3월', '4월', '5월', '6월', '7월',
       '8월', '9월', '10월', '11월', '12월'],
      dtype='object')

In [55]:
df_elec[{'연도' : 2021}]

TypeError: Passing a dict as an indexer is not supported. Use a list instead.

In [44]:
# 연도 column을 기준으로 그룹화, 동시에 평균값을 dataframe에 출력
df_group = df_drop11.groupby('연도').mean()
df_mean = df_group.T # 행렬변환
df_mean

연도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1월,2.335103e+06,2.535240e+06,2.498216e+06,2.616024e+06,2.574024e+06,2.671959e+06,2.625319e+06,2.658644e+06,2.844805e+06,2.861434e+06,2.725112e+06,2.867974e+06
2월,2.188708e+06,2.343108e+06,2.465632e+06,2.411552e+06,2.423945e+06,2.459326e+06,2.562954e+06,2.613082e+06,2.749987e+06,2.609034e+06,2.617551e+06,2.658115e+06
3월,2.091419e+06,2.260802e+06,2.371065e+06,2.323784e+06,2.389529e+06,2.403517e+06,2.485011e+06,2.503443e+06,2.525663e+06,2.534628e+06,2.521800e+06,2.533786e+06
4월,2.115786e+06,2.218604e+06,2.263786e+06,2.294385e+06,2.309050e+06,2.356720e+06,2.360203e+06,2.400651e+06,2.472501e+06,2.496506e+06,2.380894e+06,2.464687e+06
5월,1.988779e+06,2.085555e+06,2.139747e+06,2.203519e+06,2.198684e+06,2.227999e+06,2.249152e+06,2.279053e+06,2.384145e+06,2.394589e+06,2.254566e+06,2.402487e+06
6월,1.989683e+06,2.102778e+06,2.152759e+06,2.197991e+06,2.226014e+06,2.254742e+06,2.333418e+06,2.333686e+06,2.414450e+06,2.389401e+06,2.338405e+06,2.472463e+06
7월,2.090517e+06,2.193162e+06,2.243204e+06,2.304199e+06,2.352646e+06,2.316382e+06,2.387664e+06,2.541676e+06,2.589997e+06,2.527423e+06,2.474575e+06,2.704223e+06
8월,2.191269e+06,2.256481e+06,2.346241e+06,2.391003e+06,2.354869e+06,2.466411e+06,2.612461e+06,2.667867e+06,2.913653e+06,2.797555e+06,2.623483e+06,2.878233e+06
9월,2.131955e+06,2.168204e+06,2.227551e+06,2.281235e+06,2.244794e+06,2.335535e+06,2.423760e+06,2.490357e+06,2.572296e+06,2.567605e+06,2.653576e+06,2.636405e+06
10월,1.973165e+06,2.094313e+06,2.052624e+06,2.173317e+06,2.224439e+06,2.203005e+06,2.267599e+06,2.256988e+06,2.351616e+06,2.389578e+06,2.297959e+06,2.461072e+06
11월,2.123175e+06,2.168674e+06,2.230361e+06,2.265934e+06,2.278167e+06,2.286090e+06,2.368027e+06,2.429006e+06,2.465008e+06,2.418327e+06,2.420360e+06,2.519389e+06
12월,2.310350e+06,2.332567e+06,2.444965e+06,2.463243e+06,2.506990e+06,2.457388e+06,2.560809e+06,2.692973e+06,2.665726e+06,2.631270e+06,2.648652e+06,2.779448e+06

In [45]:
df_mean.columns

Index([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype='int64', name='연도')

In [46]:
df_reset = df_mean.reset_index()

In [47]:
# 데이터를 세로로 이어붙이기(melt 사용)
df_melt = pd.melt(df_reset,
                    id_vars=['index'],
                    value_vars=[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])
df_melt

    index    연도         value
0      1월  2010  2.335103e+06
1      2월  2010  2.188708e+06
2      3월  2010  2.091419e+06
3      4월  2010  2.115786e+06
4      5월  2010  1.988779e+06
..    ...   ...           ...
139    8월  2021  2.878233e+06
140    9월  2021  2.636405e+06
141   10월  2021  2.461072e+06
142   11월  2021  2.519389e+06
143   12월  2021  2.779448e+06

[144 rows x 3 columns]

In [48]:
# 연도 column 삭제
df_drop22 = df_melt.drop('연도', axis=1)
df_type = df_drop22.astype({'value':'int64'})

In [49]:
df_type = df_type.rename(columns={'index':'기간', 'value':'전력소비량'})
df_type # 전력소비량 변수

      기간    전력소비량
0     1월  2335102
1     2월  2188707
2     3월  2091419
3     4월  2115785
4     5월  1988778
..   ...      ...
139   8월  2878232
140   9월  2636404
141  10월  2461071
142  11월  2519389
143  12월  2779448

[144 rows x 2 columns]

In [50]:
### 두 데이터프레임 합치기

df_con1 = df_type.rename(columns={'index' : '기간', 'value' : '전력소비량'}, inplace=False)
df_con2 = df_con1['전력소비량']
result = pd.concat([df_astype,df_con2],axis=1)
result ### 시각화 대상 변수

NameError: name 'df_astype' is not defined

<hr>

<h1>평균 전력소비량 추이 VS 입국 관광객 추이 시각화</h1>

In [ ]:
# 그래프 크기 설정
plt.figure(figsize=(19, 6))

# 데이터프레임을 이용하여 그래프 그리기
plt.plot(df_type["전력소비량"], marker='o', markersize=1)

# y축에 그리드 추가
plt.grid(axis='y', linestyle='-', alpha=0.5)

# 그래프 범례를 그래프 밖에 위치
plt.legend(df_type.columns, loc='center left', bbox_to_anchor=(1, 0.5))

# 그래프 제목 설정
plt.title('평균 전력소비량')

# x축 레이블 설정
plt.xlabel('2010 ~ 2021')

# y축 레이블 설정
# plt.ylabel('')

# x, y축 범위 자동으로 설정
plt.autoscale(axis='x', tight=True)
plt.autoscale(axis='y', tight=True)

# 그래프 출력
plt.show()

In [ ]:
# 그래프 크기 설정
plt.figure(figsize=(19, 6))

# 데이터프레임을 이용하여 그래프 그리기
plt.plot(df_astype["관광객"], marker='o', markersize=1)

# y축에 그리드 추가
plt.grid(axis='y', linestyle='-', alpha=0.5)

# 그래프 범례를 그래프 밖에 위치
plt.legend(df_astype.columns, loc='center left', bbox_to_anchor=(1, 0.5))

# 그래프 제목 설정
plt.title('입국 관광객 수')

# x축 레이블 설정
plt.xlabel('2010 ~ 2021')

# y축 레이블 설정
# plt.ylabel('')

# x, y축 범위 자동으로 설정
plt.autoscale(axis='x', tight=True)
plt.autoscale(axis='y', tight=True)

# 그래프 출력
plt.show()

In [ ]:
plt.rcParams['font.family'] = 'Malgun Gothic'  
plt.rcParams['font.size'] = 15
plt.rcParams['axes.unicode_minus']=False

In [ ]:
fig, ax1 = plt.subplots(figsize=(15,6),nrows=1,ncols=1)

color_1 = 'tab:blue'
ax1.set_title('2010~2021 평균 전력소비량 대비 입국 관광객 수', fontsize=12)
ax1.set_xlabel('기간')
ax1.set_ylabel('전력소비량', fontsize=12, color=color_1)
ax1.plot(result.index, result.전력소비량 , marker='o', color=color_1,linewidth=3)
ax1.tick_params(axis='y', labelcolor=color_1)


ax2 = ax1.twinx() 
color_2 = 'tab:red'
ax2.set_ylabel('입국 관광객 수', fontsize=12, color=color_2)
ax2.plot(result.index, result.관광객, marker='o', color=color_2,linewidth=3)
ax2.tick_params(axis='y', labelcolor=color_2)

fig.tight_layout()
plt.show()

위 그래프에서 입국 관광객 수가 급격하게 줄어드는 시점 = 코로나19 판데믹이 시작된 시점과 일치
But, 이 그래프만으로는 입국 관광객 수가 국내 전체 전력소비량에 '절대적인' 영향을 미친다고 보기는 어려울 듯 함.