In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("1인당_지역총소득_시도__20230502144236.csv", encoding="cp949")
df1

,시도별,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 p)
0,전국,26828.0,28074.0,29093.0,30038,31010,32658,34167,35977,37014,37596,37842,40571
1,서울특별시,36359.0,38574.0,39215.0,39570,40577,41857,44111,46715,48362,48693,49006,54209
2,부산광역시,19724.0,21394.0,22742.0,23500,24980,25773,26883,27592,28287,29259,29643,32014
3,대구광역시,18499.0,19985.0,21093.0,21992,23391,24660,25551,26561,27004,27700,27934,29353
4,인천광역시,22945.0,23937.0,24491.0,25483,26978,28034,29689,30990,31363,32873,32724,35818
5,광주광역시,19602.0,20544.0,21798.0,22992,24674,25687,27373,28759,29759,31186,31674,32999
6,대전광역시,20855.0,22288.0,23540.0,23858,25308,27125,28124,30102,30529,31566,32080,33810
7,울산광역시,48489.0,49677.0,49348.0,48678,46025,49381,52205,52237,52694,54190,53908,59346
8,세종특별자치시,NaN,NaN,NaN,38657,49688,44463,41018,40876,37243,38186,37869,39730
9,경기도,26528.0,26697.0,28906.0,30631,30892,33028,34591,37588,39150,38929,38819,41011
10,강원도,19315.0,20213.0,21169.0,21884,23251,24761,25331,27216,28471,29397,28891,30858
11,충청북도,22351.0,23504.0,24875.0,26094,27125,28839,30527,31951,33672,34889,35403,37903
12,충청남도,28765.0,30628.0,31057.0,32911,32836,35458,37554,39338,39935,41089,42073,45544
13,전라북도,19226.0,20200.0,21037.0,21691,22951,24176,24689,25710,26783,28302,29515,31157
14,전라남도,26168.0,26437.0,27208.0,27940,28657,32733,33786,34542,35159,35673,38605,38857
15,경상북도,26953.0,29076.0,27871.0,29128,30917,32427,33697,33828,34530,35038,35471,38000
16,경상남도,24250.0,25747.0,26321.0,26455,28703,29523,30370,31033,30987,32035,31550,32968
17,제주특별자치도,19613.0,22372.0,23138.0,24020,25400,27314,29342,30863,31193,30710,30030,31999