In [25]:
### 데이터 분석 및 시각화 Library Load

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
### 물가지수 데이터 DataFrame Load
# 지역구분을 Column으로 지정하고자 Transpose

df_CPI = pd.read_csv("/self/201001_202112_월별_시도별_소비자물가지수.csv", encoding="cp949").T
df_CPI

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
시도별(1),전국,전국,전국,전국,전국,전국,전국,전국,전국,전국,전국,전국,전국,전국,전국,전국,전국,전국
시도별(2),소계,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2010.01,85.351,84.055,84.423,84.121,85.588,85.953,86.760,86.572,-,85.766,85.849,85.982,86.825,85.927,85.531,86.966,85.993,85.329
2010.02,85.523,84.225,84.680,84.377,85.848,86.214,86.848,86.747,-,86.026,86.024,86.245,87.089,86.189,85.791,87.230,86.167,85.416
2010.03,85.696,84.566,84.937,84.632,86.022,86.563,87.024,87.274,-,85.854,86.546,86.506,87.265,86.450,85.965,87.494,86.515,85.848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021.08,102.75,102.33,102.61,102.9,102.94,102.82,102.7,102.71,103.11,102.85,103.08,102.88,102.96,102.9,102.76,103.01,102.74,102.99
2021.09,103.17,102.67,103.17,103.43,103.41,103.15,103.08,103.26,103.2,103.21,103.64,103.28,103.47,103.42,103.3,103.52,103.14,103.51
2021.10,103.35,102.9,103.22,103.56,103.56,103.27,103.23,103.22,103.55,103.43,103.85,103.5,103.81,103.46,103.64,103.75,103.27,103.7
2021.11,103.87,103.2,103.63,104.11,104.06,103.95,103.71,103.86,104.01,103.97,104.53,104.16,104.39,104.06,104.29,104.38,103.9,104.41
2021.12,104.04,103.32,103.87,104.3,104.38,104.1,103.97,104.12,104.16,104.16,104.69,104.31,104.45,104.08,104.34,104.65,104.15,104.43

In [27]:
### 결측치는 없는 것으로 나오나, 세종시의 일정 기간은 0으로 처리되어 있음을 확인할 수 있음.
# 모든 데이터타입이 object라는 점을 미리 인지하고 있을 것.

df_CPI.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, 시도별(1) to 2021.12
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       146 non-null    object
 1   1       146 non-null    object
 2   2       146 non-null    object
 3   3       146 non-null    object
 4   4       146 non-null    object
 5   5       146 non-null    object
 6   6       146 non-null    object
 7   7       146 non-null    object
 8   8       146 non-null    object
 9   9       146 non-null    object
 10  10      146 non-null    object
 11  11      146 non-null    object
 12  12      146 non-null    object
 13  13      146 non-null    object
 14  14      146 non-null    object
 15  15      146 non-null    object
 16  16      146 non-null    object
 17  17      146 non-null    object
dtypes: object(18)
memory usage: 21.7+ KB