In [1]:
import pandas as pd
import json
import folium

In [8]:
df_1 = pd.read_csv("./지도시각화_전력,주택.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       2448 non-null   object
 1   연도       2448 non-null   int64
 2   월        2448 non-null   int64
 3   시도       2448 non-null   object
 4   주택가격변동률  2448 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 95.8+ KB

In [9]:
df_2 = pd.read_csv("./전력량_주택_마커.csv")
df_2.drop(columns=['Unnamed: 0'], inplace=True)
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       2448 non-null   int64
 1   월        2448 non-null   int64
 2   시도       2448 non-null   object
 3   주택가격변동률  2448 non-null   float64
 4   사용량      2448 non-null   int64
 5   위도       2448 non-null   float64
 6   경도       2448 non-null   float64
dtypes: float64(3), int64(3), object(1)
memory usage: 134.0+ KB

In [11]:
df_data = pd.merge(df_1,df_2, how='outer',on=['연도', '월', '시도', '주택가격변동률'])
df_data

           년월    연도   월       시도  주택가격변동률      사용량         위도          경도
0     2010_01  2010   1    서울특별시     0.13  4398183  37.551638  126.993243
1     2010_02  2010   2    서울특별시     0.23  4168168  37.551638  126.993243
2     2010_03  2010   3    서울특별시     0.07  3624186  37.551638  126.993243
3     2010_04  2010   4    서울특별시    -0.02  3719082  37.551638  126.993243
4     2010_05  2010   5    서울특별시    -0.25  3426951  37.551638  126.993243
...       ...   ...  ..      ...      ...      ...        ...         ...
2443  2021_08  2021   8  제주특별자치도     0.96   544310  33.424967  126.778084
2444  2021_09  2021   9  제주특별자치도     0.85   495549  33.424967  126.778084
2445  2021_10  2021  10  제주특별자치도     0.75   446949  33.424967  126.778084
2446  2021_11  2021  11  제주특별자치도     0.41   438179  33.424967  126.778084
2447  2021_12  2021  12  제주특별자치도     0.21   473291  33.424967  126.778084

[2448 rows x 8 columns]

In [12]:
# df_data.to_csv('전력량_주택_all.csv')

In [9]:
df = pd.read_csv("./마커.csv")
df.drop(columns=['Unnamed: 0'], inplace=True)
df

         시도         위도          경도
0     서울특별시  37.551638  126.993243
1       강원도  37.820812  128.156579
2       경기도  37.412505  127.520017
3      경상남도  35.460156  128.215601
4      경상북도  36.327952  128.951526
5     광주광역시  35.154840  126.836647
6     대구광역시  35.825757  128.576897
7     대전광역시  36.339403  127.396923
8     부산광역시  35.209853  129.069121
9   세종특별자치시  36.560326  127.258638
10    울산광역시  35.553064  129.254432
11    인천광역시  37.455307  126.703920
12     전라남도  34.867289  126.993547
13     전라북도  35.717518  127.156528
14  제주특별자치도  33.424967  126.778084
15     충청남도  36.717428  126.801751
16     충청북도  36.999466  127.700783

In [10]:
df_data = pd.merge(df_data,df, how='outer',on='시도')
df_data

        연도   월       시도  주택가격변동률      사용량         위도          경도
0     2010   1    서울특별시     0.13  4398183  37.551638  126.993243
1     2010   2    서울특별시     0.23  4168168  37.551638  126.993243
2     2010   3    서울특별시     0.07  3624186  37.551638  126.993243
3     2010   4    서울특별시    -0.02  3719082  37.551638  126.993243
4     2010   5    서울특별시    -0.25  3426951  37.551638  126.993243
...    ...  ..      ...      ...      ...        ...         ...
2443  2021   8  제주특별자치도     0.96   544310  33.424967  126.778084
2444  2021   9  제주특별자치도     0.85   495549  33.424967  126.778084
2445  2021  10  제주특별자치도     0.75   446949  33.424967  126.778084
2446  2021  11  제주특별자치도     0.41   438179  33.424967  126.778084
2447  2021  12  제주특별자치도     0.21   473291  33.424967  126.778084

[2448 rows x 7 columns]

In [11]:
df_data.to_csv('전력량_주택_마커.csv')