In [302]:
import pandas as pd

In [345]:
df_com = pd.read_csv("201001_202112_월별_시도별_지방세비중.csv",encoding="cp949")

In [304]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도별(1)  20 non-null     object
 1   2010    20 non-null     object
 2   2010.1  20 non-null     object
 3   2011    20 non-null     object
 4   2011.1  20 non-null     object
 5   2012    20 non-null     object
 6   2012.1  20 non-null     object
 7   2013    20 non-null     object
 8   2013.1  20 non-null     object
 9   2014    20 non-null     object
 10  2014.1  20 non-null     object
 11  2015    20 non-null     object
 12  2015.1  20 non-null     object
 13  2016    20 non-null     object
 14  2016.1  20 non-null     object
 15  2017    20 non-null     object
 16  2017.1  20 non-null     object
 17  2018    20 non-null     object
 18  2018.1  20 non-null     object
 19  2019    20 non-null     object
 20  2019.1  20 non-null     object
 21  2020    20 non-null     object
 22  2020.1  20 non-null     object
 23  2021    20 non-null     object
 24  2021.1  20 non-null     object
dtypes: object(25)
memory usage: 4.0+ KB

In [305]:
##연도별 금액값만 데이터에 넣기
df = df.iloc[:,[1,3,5,7,9,11,13,15,17,19,21,23]]
df

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원)
1,49159805,52300144,53938064,53778881,61725013,70977794,75531651,80409137,84318258,90460408,102048782,112798430
2,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
3,37084965,39386180,40501098,40798280,47222494,53938960,57507475,-,-,-,-,-
4,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
5,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
6,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
7,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
8,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
9,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
10,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
11,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
12,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
13,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
14,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
15,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
16,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
17,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
18,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
19,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [306]:
##co에 시도별 도시를 리스트로 만듬 
col = df['시도별(1)'].to_list()
col = col[2:]
col

KeyError: '시도별(1)'

In [ ]:
##col 값은 서울부터 제주까지 
col = df['시도별(1)'].to_list()
col = col[2:]
col

['서울',
 '지방계',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [ ]:
##총계부터 제주까지 
df= df.T 
# df = df.drop(columns=[0])
df

,시도별(1),2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,2014,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
1,총계,49159805,100.0,52300144,100.0,53938064,100.0,53778881,100.0,61725013,...,80409137,100.0,84318258,100.0,90460408,100.0,102048782,100.0,112798430,100.0
2,서울,12074840,22.3,12913964,24.0,13436966,24.9,12980600,24.1,14502519,...,19296437,24.0,20695311,24.5,22268213,24.6,25531987,25.0,28382503,25.2
3,지방계,37084965,-,39386180,-,40501098,-,40798280,-,47222494,...,-,-,-,-,-,-,-,-,-,-
4,부산,3062239,5.7,3352687,6.2,3386162,6.3,3401445,6.3,3973205,...,4947208,6.2,4935112,6.0,5191892,5.7,6199573,6.1,6468033,5.7
5,대구,1818648,3.4,1924374,3.6,2073421,3.8,2148115,4.0,2591818,...,3156682,3.9,3227882,3.8,3476077,3.9,3959389,3.9,4246517,3.8
6,인천,2428823,4.5,2790176,5.2,2754954,5.1,2855673,5.3,3220968,...,4427782,5.5,4465821,5.3,4809476,5.3,5187705,5.1,5923870,5.2
7,광주,1077114,2.0,1137184,2.1,1202985,2.2,1220622,2.3,1428496,...,1710868,2.1,1845600,2.2,2027885,2.3,2267962,2.2,2392719,2.1
8,대전,1162679,2.2,1332664,2.5,1320566,2.4,1258482,2.3,1549395,...,1713620,2.1,1735655,2.1,1991017,2.2,2252393,2.2,2511095,2.2
9,울산,1230508,2.3,1375029,2.6,1493288,2.8,1413522,2.6,1611003,...,1983863,2.5,1946957,2.3,2040650,2.3,2093867,2.0,2216360,2.0
10,세종,-,-,-,-,119099,0.2,216598,0.4,386816,...,665142,0.8,670652,0.8,666939,0.7,795242,0.8,877116,0.8
11,경기,12876723,23.9,12957501,24.2,13288767,24.7,13301235,24.7,15216198,...,20710614,25.8,22807183,27.0,24138048,26.7,25801039,25.3,29735913,26.4
12,강원,1222509,2.3,1272268,2.4,1344637,2.5,1330566,2.5,1473843,...,1944969,2.4,2057307,2.4,2168668,2.4,2653723,2.6,2875409,2.5
13,충북,1310314,2.4,1371252,2.5,1443528,2.7,1431512,2.7,1684169,...,2106205,2.6,2281543,2.7,2573152,2.9,2770501,2.7,3149318,2.8
14,충남,2097037,3.9,2297542,4.3,2307243,4.3,2226001,4.1,2624962,...,3433932,4.3,3507758,4.2,3560335,3.9,4125636,4.0,4595115,4.1
15,전북,1287562,2.4,1407180,2.6,1456057,2.7,1457454,2.7,1641746,...,2005960,2.5,2039943,2.4,2292195,2.5,2921771,2.9,3063559,2.7
16,전남,1434292,2.7,1580286,2.9,1622293,3.0,1599464,3.0,1751096,...,2319014,2.9,2392217,2.8,2714787,3.0,3564716,3.5,3730749,3.3
17,경북,2220366,4.1,2397531,4.5,2499249,4.6,2563701,4.8,2963881,...,3719931,4.6,3634277,4.3,3922794,4.3,4589594,4.5,4898316,4.3
18,경남,3334664,6.2,3609075,6.7,3504746,6.5,3605279,6.7,4195428,...,4818215,6.0,4616070,5.5,5098712,5.6,5731861,5.6,6046173,5.4
19,제주,521487,1.0,581431,1.1,684103,1.3,768612,1.4,909470,...,1448695,1.8,1458970,1.7,1519568,1.7,1601823,1.6,1685665,1.5

In [ ]:
col

['서울',
 '지방계',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [ ]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [ ]:
df = df.T

In [ ]:
df = df.drop(columns=[0,1])

In [ ]:
df

,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
시도별(1),서울,지방계,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2010,12074840,37084965,3062239,1818648,2428823,1077114,1162679,1230508,-,12876723,1222509,1310314,2097037,1287562,1434292,2220366,3334664,521487
2010.1,22.3,-,5.7,3.4,4.5,2.0,2.2,2.3,-,23.9,2.3,2.4,3.9,2.4,2.7,4.1,6.2,1.0
2011,12913964,39386180,3352687,1924374,2790176,1137184,1332664,1375029,-,12957501,1272268,1371252,2297542,1407180,1580286,2397531,3609075,581431
2011.1,24.0,-,6.2,3.6,5.2,2.1,2.5,2.6,-,24.2,2.4,2.5,4.3,2.6,2.9,4.5,6.7,1.1
2012,13436966,40501098,3386162,2073421,2754954,1202985,1320566,1493288,119099,13288767,1344637,1443528,2307243,1456057,1622293,2499249,3504746,684103
2012.1,24.9,-,6.3,3.8,5.1,2.2,2.4,2.8,0.2,24.7,2.5,2.7,4.3,2.7,3.0,4.6,6.5,1.3
2013,12980600,40798280,3401445,2148115,2855673,1220622,1258482,1413522,216598,13301235,1330566,1431512,2226001,1457454,1599464,2563701,3605279,768612
2013.1,24.1,-,6.3,4.0,5.3,2.3,2.3,2.6,0.4,24.7,2.5,2.7,4.1,2.7,3.0,4.8,6.7,1.4
2014,14502519,47222494,3973205,2591818,3220968,1428496,1549395,1611003,386816,15216198,1473843,1684169,2624962,1641746,1751096,2963881,4195428,909470
2014.1,23.5,-,6.4,4.2,5.2,2.3,2.5,2.6,0.6,24.7,2.4,2.7,4.3,2.7,2.8,4.8,6.8,1.5
2015,17038835,53938960,4784818,2862891,3727717,1553789,1626744,1760321,512028,17885557,1594058,1884993,2836473,1796926,2002617,3450733,4535227,1124068
2015.1,24.0,-,6.7,4.0,5.3,2.2,2.3,2.5,0.7,25.2,2.2,2.7,4.0,2.5,2.8,4.9,6.4,1.6
2016,18024176,57507475,4625095,2979772,4028661,1678987,1683926,1945369,499626,19245126,1859620,2020649,3120102,1896033,2243786,3567765,4736834,1376124
2016.1,23.9,-,6.1,3.9,5.3,2.2,2.2,2.6,0.7,25.5,2.5,2.7,4.1,2.5,3.0,4.7,6.3,1.8
2017,19296437,-,4947208,3156682,4427782,1710868,1713620,1983863,665142,20710614,1944969,2106205,3433932,2005960,2319014,3719931,4818215,1448695
2017.1,24.0,-,6.2,3.9,5.5,2.1,2.1,2.5,0.8,25.8,2.4,2.6,4.3,2.5,2.9,4.6,6.0,1.8
2018,20695311,-,4935112,3227882,4465821,1845600,1735655,1946957,670652,22807183,2057307,2281543,3507758,2039943,2392217,3634277,4616070,1458970
2018.1,24.5,-,6.0,3.8,5.3,2.2,2.1,2.3,0.8,27.0,2.4,2.7,4.2,2.4,2.8,4.3,5.5,1.7
2019,22268213,-,5191892,3476077,4809476,2027885,1991017,2040650,666939,24138048,2168668,2573152,3560335,2292195,2714787,3922794,5098712,1519568
2019.1,24.6,-,5.7,3.9,5.3,2.3,2.2,2.3,0.7,26.7,2.4,2.9,3.9,2.5,3.0,4.3,5.6,1.7
2020,25531987,-,6199573,3959389,5187705,2267962,2252393,2093867,795242,25801039,2653723,2770501,4125636,2921771,3564716,4589594,5731861,1601823
2020.1,25.0,-,6.1,3.9,5.1,2.2,2.2,2.0,0.8,25.3,2.6,2.7,4.0,2.9,3.5,4.5,5.6,1.6
2021,28382503,-,6468033,4246517,5923870,2392719,2511095,2216360,877116,29735913,2875409,3149318,4595115,3063559,3730749,4898316,6046173,1685665
2021.1,25.2,-,5.7,3.8,5.2,2.1,2.2,2.0,0.8,26.4,2.5,2.8,4.1,2.7,3.3,4.3,5.4,1.5

In [ ]:
col

['서울',
 '지방계',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [ ]:
df = df.T

KeyError: '[0] not found in axis'

In [ ]:
df = df.drop(columns=['시도별(1)'])
df

,2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,2014,2014.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
1,49159805,100.0,52300144,100.0,53938064,100.0,53778881,100.0,61725013,100.0,...,80409137,100.0,84318258,100.0,90460408,100.0,102048782,100.0,112798430,100.0
2,12074840,22.3,12913964,24.0,13436966,24.9,12980600,24.1,14502519,23.5,...,19296437,24.0,20695311,24.5,22268213,24.6,25531987,25.0,28382503,25.2
3,37084965,-,39386180,-,40501098,-,40798280,-,47222494,-,...,-,-,-,-,-,-,-,-,-,-
4,3062239,5.7,3352687,6.2,3386162,6.3,3401445,6.3,3973205,6.4,...,4947208,6.2,4935112,6.0,5191892,5.7,6199573,6.1,6468033,5.7
5,1818648,3.4,1924374,3.6,2073421,3.8,2148115,4.0,2591818,4.2,...,3156682,3.9,3227882,3.8,3476077,3.9,3959389,3.9,4246517,3.8
6,2428823,4.5,2790176,5.2,2754954,5.1,2855673,5.3,3220968,5.2,...,4427782,5.5,4465821,5.3,4809476,5.3,5187705,5.1,5923870,5.2
7,1077114,2.0,1137184,2.1,1202985,2.2,1220622,2.3,1428496,2.3,...,1710868,2.1,1845600,2.2,2027885,2.3,2267962,2.2,2392719,2.1
8,1162679,2.2,1332664,2.5,1320566,2.4,1258482,2.3,1549395,2.5,...,1713620,2.1,1735655,2.1,1991017,2.2,2252393,2.2,2511095,2.2
9,1230508,2.3,1375029,2.6,1493288,2.8,1413522,2.6,1611003,2.6,...,1983863,2.5,1946957,2.3,2040650,2.3,2093867,2.0,2216360,2.0
10,-,-,-,-,119099,0.2,216598,0.4,386816,0.6,...,665142,0.8,670652,0.8,666939,0.7,795242,0.8,877116,0.8
11,12876723,23.9,12957501,24.2,13288767,24.7,13301235,24.7,15216198,24.7,...,20710614,25.8,22807183,27.0,24138048,26.7,25801039,25.3,29735913,26.4
12,1222509,2.3,1272268,2.4,1344637,2.5,1330566,2.5,1473843,2.4,...,1944969,2.4,2057307,2.4,2168668,2.4,2653723,2.6,2875409,2.5
13,1310314,2.4,1371252,2.5,1443528,2.7,1431512,2.7,1684169,2.7,...,2106205,2.6,2281543,2.7,2573152,2.9,2770501,2.7,3149318,2.8
14,2097037,3.9,2297542,4.3,2307243,4.3,2226001,4.1,2624962,4.3,...,3433932,4.3,3507758,4.2,3560335,3.9,4125636,4.0,4595115,4.1
15,1287562,2.4,1407180,2.6,1456057,2.7,1457454,2.7,1641746,2.7,...,2005960,2.5,2039943,2.4,2292195,2.5,2921771,2.9,3063559,2.7
16,1434292,2.7,1580286,2.9,1622293,3.0,1599464,3.0,1751096,2.8,...,2319014,2.9,2392217,2.8,2714787,3.0,3564716,3.5,3730749,3.3
17,2220366,4.1,2397531,4.5,2499249,4.6,2563701,4.8,2963881,4.8,...,3719931,4.6,3634277,4.3,3922794,4.3,4589594,4.5,4898316,4.3
18,3334664,6.2,3609075,6.7,3504746,6.5,3605279,6.7,4195428,6.8,...,4818215,6.0,4616070,5.5,5098712,5.6,5731861,5.6,6046173,5.4
19,521487,1.0,581431,1.1,684103,1.3,768612,1.4,909470,1.5,...,1448695,1.8,1458970,1.7,1519568,1.7,1601823,1.6,1685665,1.5

In [ ]:
df = df.iloc[:,[0,2,4,6,8,10,12,14,16,18,20,22]]

In [307]:
df

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원)
1,49159805,52300144,53938064,53778881,61725013,70977794,75531651,80409137,84318258,90460408,102048782,112798430
2,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
3,37084965,39386180,40501098,40798280,47222494,53938960,57507475,-,-,-,-,-
4,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
5,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
6,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
7,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
8,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
9,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
10,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
11,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
12,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
13,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
14,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
15,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
16,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
17,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
18,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
19,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [ ]:
df.columns = col

ValueError: Length mismatch: Expected axis has 12 elements, new values have 18 elements

In [ ]:
df = df.T

In [ ]:
df.columns = col

ValueError: Length mismatch: Expected axis has 19 elements, new values have 18 elements

df

In [ ]:
df

,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
시도별(1),서울,지방계,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2010,12074840,37084965,3062239,1818648,2428823,1077114,1162679,1230508,-,12876723,1222509,1310314,2097037,1287562,1434292,2220366,3334664,521487
2010.1,22.3,-,5.7,3.4,4.5,2.0,2.2,2.3,-,23.9,2.3,2.4,3.9,2.4,2.7,4.1,6.2,1.0
2011,12913964,39386180,3352687,1924374,2790176,1137184,1332664,1375029,-,12957501,1272268,1371252,2297542,1407180,1580286,2397531,3609075,581431
2011.1,24.0,-,6.2,3.6,5.2,2.1,2.5,2.6,-,24.2,2.4,2.5,4.3,2.6,2.9,4.5,6.7,1.1
2012,13436966,40501098,3386162,2073421,2754954,1202985,1320566,1493288,119099,13288767,1344637,1443528,2307243,1456057,1622293,2499249,3504746,684103
2012.1,24.9,-,6.3,3.8,5.1,2.2,2.4,2.8,0.2,24.7,2.5,2.7,4.3,2.7,3.0,4.6,6.5,1.3
2013,12980600,40798280,3401445,2148115,2855673,1220622,1258482,1413522,216598,13301235,1330566,1431512,2226001,1457454,1599464,2563701,3605279,768612
2013.1,24.1,-,6.3,4.0,5.3,2.3,2.3,2.6,0.4,24.7,2.5,2.7,4.1,2.7,3.0,4.8,6.7,1.4
2014,14502519,47222494,3973205,2591818,3220968,1428496,1549395,1611003,386816,15216198,1473843,1684169,2624962,1641746,1751096,2963881,4195428,909470
2014.1,23.5,-,6.4,4.2,5.2,2.3,2.5,2.6,0.6,24.7,2.4,2.7,4.3,2.7,2.8,4.8,6.8,1.5
2015,17038835,53938960,4784818,2862891,3727717,1553789,1626744,1760321,512028,17885557,1594058,1884993,2836473,1796926,2002617,3450733,4535227,1124068
2015.1,24.0,-,6.7,4.0,5.3,2.2,2.3,2.5,0.7,25.2,2.2,2.7,4.0,2.5,2.8,4.9,6.4,1.6
2016,18024176,57507475,4625095,2979772,4028661,1678987,1683926,1945369,499626,19245126,1859620,2020649,3120102,1896033,2243786,3567765,4736834,1376124
2016.1,23.9,-,6.1,3.9,5.3,2.2,2.2,2.6,0.7,25.5,2.5,2.7,4.1,2.5,3.0,4.7,6.3,1.8
2017,19296437,-,4947208,3156682,4427782,1710868,1713620,1983863,665142,20710614,1944969,2106205,3433932,2005960,2319014,3719931,4818215,1448695
2017.1,24.0,-,6.2,3.9,5.5,2.1,2.1,2.5,0.8,25.8,2.4,2.6,4.3,2.5,2.9,4.6,6.0,1.8
2018,20695311,-,4935112,3227882,4465821,1845600,1735655,1946957,670652,22807183,2057307,2281543,3507758,2039943,2392217,3634277,4616070,1458970
2018.1,24.5,-,6.0,3.8,5.3,2.2,2.1,2.3,0.8,27.0,2.4,2.7,4.2,2.4,2.8,4.3,5.5,1.7
2019,22268213,-,5191892,3476077,4809476,2027885,1991017,2040650,666939,24138048,2168668,2573152,3560335,2292195,2714787,3922794,5098712,1519568
2019.1,24.6,-,5.7,3.9,5.3,2.3,2.2,2.3,0.7,26.7,2.4,2.9,3.9,2.5,3.0,4.3,5.6,1.7
2020,25531987,-,6199573,3959389,5187705,2267962,2252393,2093867,795242,25801039,2653723,2770501,4125636,2921771,3564716,4589594,5731861,1601823
2020.1,25.0,-,6.1,3.9,5.1,2.2,2.2,2.0,0.8,25.3,2.6,2.7,4.0,2.9,3.5,4.5,5.6,1.6
2021,28382503,-,6468033,4246517,5923870,2392719,2511095,2216360,877116,29735913,2875409,3149318,4595115,3063559,3730749,4898316,6046173,1685665
2021.1,25.2,-,5.7,3.8,5.2,2.1,2.2,2.0,0.8,26.4,2.5,2.8,4.1,2.7,3.3,4.3,5.4,1.5

In [ ]:
##컬럼 시도별 빼고 가져오기 
col = col[1:]
col

['지방계',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [ ]:
col

['지방계',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [ ]:
df = df.T
df

,시도별(1),2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,2014,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
2,서울,12074840,22.3,12913964,24.0,13436966,24.9,12980600,24.1,14502519,...,19296437,24.0,20695311,24.5,22268213,24.6,25531987,25.0,28382503,25.2
3,지방계,37084965,-,39386180,-,40501098,-,40798280,-,47222494,...,-,-,-,-,-,-,-,-,-,-
4,부산,3062239,5.7,3352687,6.2,3386162,6.3,3401445,6.3,3973205,...,4947208,6.2,4935112,6.0,5191892,5.7,6199573,6.1,6468033,5.7
5,대구,1818648,3.4,1924374,3.6,2073421,3.8,2148115,4.0,2591818,...,3156682,3.9,3227882,3.8,3476077,3.9,3959389,3.9,4246517,3.8
6,인천,2428823,4.5,2790176,5.2,2754954,5.1,2855673,5.3,3220968,...,4427782,5.5,4465821,5.3,4809476,5.3,5187705,5.1,5923870,5.2
7,광주,1077114,2.0,1137184,2.1,1202985,2.2,1220622,2.3,1428496,...,1710868,2.1,1845600,2.2,2027885,2.3,2267962,2.2,2392719,2.1
8,대전,1162679,2.2,1332664,2.5,1320566,2.4,1258482,2.3,1549395,...,1713620,2.1,1735655,2.1,1991017,2.2,2252393,2.2,2511095,2.2
9,울산,1230508,2.3,1375029,2.6,1493288,2.8,1413522,2.6,1611003,...,1983863,2.5,1946957,2.3,2040650,2.3,2093867,2.0,2216360,2.0
10,세종,-,-,-,-,119099,0.2,216598,0.4,386816,...,665142,0.8,670652,0.8,666939,0.7,795242,0.8,877116,0.8
11,경기,12876723,23.9,12957501,24.2,13288767,24.7,13301235,24.7,15216198,...,20710614,25.8,22807183,27.0,24138048,26.7,25801039,25.3,29735913,26.4
12,강원,1222509,2.3,1272268,2.4,1344637,2.5,1330566,2.5,1473843,...,1944969,2.4,2057307,2.4,2168668,2.4,2653723,2.6,2875409,2.5
13,충북,1310314,2.4,1371252,2.5,1443528,2.7,1431512,2.7,1684169,...,2106205,2.6,2281543,2.7,2573152,2.9,2770501,2.7,3149318,2.8
14,충남,2097037,3.9,2297542,4.3,2307243,4.3,2226001,4.1,2624962,...,3433932,4.3,3507758,4.2,3560335,3.9,4125636,4.0,4595115,4.1
15,전북,1287562,2.4,1407180,2.6,1456057,2.7,1457454,2.7,1641746,...,2005960,2.5,2039943,2.4,2292195,2.5,2921771,2.9,3063559,2.7
16,전남,1434292,2.7,1580286,2.9,1622293,3.0,1599464,3.0,1751096,...,2319014,2.9,2392217,2.8,2714787,3.0,3564716,3.5,3730749,3.3
17,경북,2220366,4.1,2397531,4.5,2499249,4.6,2563701,4.8,2963881,...,3719931,4.6,3634277,4.3,3922794,4.3,4589594,4.5,4898316,4.3
18,경남,3334664,6.2,3609075,6.7,3504746,6.5,3605279,6.7,4195428,...,4818215,6.0,4616070,5.5,5098712,5.6,5731861,5.6,6046173,5.4
19,제주,521487,1.0,581431,1.1,684103,1.3,768612,1.4,909470,...,1448695,1.8,1458970,1.7,1519568,1.7,1601823,1.6,1685665,1.5

In [ ]:
df = df.iloc[:,[1,3,5,7,9,11,13,15,17,19,21,23]]

In [308]:
df

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원)
1,49159805,52300144,53938064,53778881,61725013,70977794,75531651,80409137,84318258,90460408,102048782,112798430
2,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
3,37084965,39386180,40501098,40798280,47222494,53938960,57507475,-,-,-,-,-
4,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
5,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
6,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
7,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
8,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
9,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
10,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
11,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
12,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
13,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
14,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
15,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
16,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
17,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
18,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
19,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [322]:
df = df.drop([0,1],axis=0)

In [326]:
df = df.reset_index()

In [328]:
col.reset_index()

AttributeError: 'list' object has no attribute 'reset_index'

In [346]:
df_com = df_com.drop([0,1,3],axis=0)

In [347]:
df_com

,시도별(1),2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,2014,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
2,서울,12074840,22.3,12913964,24.0,13436966,24.9,12980600,24.1,14502519,...,19296437,24.0,20695311,24.5,22268213,24.6,25531987,25.0,28382503,25.2
4,부산,3062239,5.7,3352687,6.2,3386162,6.3,3401445,6.3,3973205,...,4947208,6.2,4935112,6.0,5191892,5.7,6199573,6.1,6468033,5.7
5,대구,1818648,3.4,1924374,3.6,2073421,3.8,2148115,4.0,2591818,...,3156682,3.9,3227882,3.8,3476077,3.9,3959389,3.9,4246517,3.8
6,인천,2428823,4.5,2790176,5.2,2754954,5.1,2855673,5.3,3220968,...,4427782,5.5,4465821,5.3,4809476,5.3,5187705,5.1,5923870,5.2
7,광주,1077114,2.0,1137184,2.1,1202985,2.2,1220622,2.3,1428496,...,1710868,2.1,1845600,2.2,2027885,2.3,2267962,2.2,2392719,2.1
8,대전,1162679,2.2,1332664,2.5,1320566,2.4,1258482,2.3,1549395,...,1713620,2.1,1735655,2.1,1991017,2.2,2252393,2.2,2511095,2.2
9,울산,1230508,2.3,1375029,2.6,1493288,2.8,1413522,2.6,1611003,...,1983863,2.5,1946957,2.3,2040650,2.3,2093867,2.0,2216360,2.0
10,세종,-,-,-,-,119099,0.2,216598,0.4,386816,...,665142,0.8,670652,0.8,666939,0.7,795242,0.8,877116,0.8
11,경기,12876723,23.9,12957501,24.2,13288767,24.7,13301235,24.7,15216198,...,20710614,25.8,22807183,27.0,24138048,26.7,25801039,25.3,29735913,26.4
12,강원,1222509,2.3,1272268,2.4,1344637,2.5,1330566,2.5,1473843,...,1944969,2.4,2057307,2.4,2168668,2.4,2653723,2.6,2875409,2.5
13,충북,1310314,2.4,1371252,2.5,1443528,2.7,1431512,2.7,1684169,...,2106205,2.6,2281543,2.7,2573152,2.9,2770501,2.7,3149318,2.8
14,충남,2097037,3.9,2297542,4.3,2307243,4.3,2226001,4.1,2624962,...,3433932,4.3,3507758,4.2,3560335,3.9,4125636,4.0,4595115,4.1
15,전북,1287562,2.4,1407180,2.6,1456057,2.7,1457454,2.7,1641746,...,2005960,2.5,2039943,2.4,2292195,2.5,2921771,2.9,3063559,2.7
16,전남,1434292,2.7,1580286,2.9,1622293,3.0,1599464,3.0,1751096,...,2319014,2.9,2392217,2.8,2714787,3.0,3564716,3.5,3730749,3.3
17,경북,2220366,4.1,2397531,4.5,2499249,4.6,2563701,4.8,2963881,...,3719931,4.6,3634277,4.3,3922794,4.3,4589594,4.5,4898316,4.3
18,경남,3334664,6.2,3609075,6.7,3504746,6.5,3605279,6.7,4195428,...,4818215,6.0,4616070,5.5,5098712,5.6,5731861,5.6,6046173,5.4
19,제주,521487,1.0,581431,1.1,684103,1.3,768612,1.4,909470,...,1448695,1.8,1458970,1.7,1519568,1.7,1601823,1.6,1685665,1.5

In [348]:
df_com = df_com.reset_index()

In [351]:
df_col = df_com["시도별(1)"].reset_index()

In [352]:
df_col

    index 시도별(1)
0       0     서울
1       1     부산
2       2     대구
3       3     인천
4       4     광주
5       5     대전
6       6     울산
7       7     세종
8       8     경기
9       9     강원
10     10     충북
11     11     충남
12     12     전북
13     13     전남
14     14     경북
15     15     경남
16     16     제주

In [354]:
df['시도'] = df_col['시도별(1)']
df

,index,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,시도
0,2,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503,서울
1,3,37084965,39386180,40501098,40798280,47222494,53938960,57507475,-,-,-,-,-,부산
2,4,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033,대구
3,5,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517,인천
4,6,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870,광주
5,7,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719,대전
6,8,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095,울산
7,9,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360,세종
8,10,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116,경기
9,11,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913,강원
10,12,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409,충북
11,13,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318,충남
12,14,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115,전북
13,15,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559,전남
14,16,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749,경북
15,17,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316,경남
16,18,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173,제주
17,19,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665,NaN

In [358]:
df.columns

Index(['index', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '시도'],
      dtype='object')

In [361]:
df = df[['시도','2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021']]

In [362]:
df

,시도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,서울,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
1,부산,37084965,39386180,40501098,40798280,47222494,53938960,57507475,-,-,-,-,-
2,대구,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
3,인천,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
4,광주,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
5,대전,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
6,울산,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
7,세종,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
8,경기,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
9,강원,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
10,충북,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
11,충남,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
12,전북,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
13,전남,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
14,경북,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
15,경남,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
16,제주,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
17,NaN,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665