In [2]:
import pandas as pd

In [3]:
df_1 = pd.read_csv("201001_202112_월별_시도별_지방세비중.csv",encoding="cp949")

In [4]:
df_1

,시도별(1),2010,2010.1,2011,2011.1,2012,2012.1,2013,2013.1,2014,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,시도별(1),금액 (백만원),비중 (%),금액 (백만원),비중 (%),금액 (백만원),비중 (%),금액 (백만원),비중 (%),금액 (백만원),...,금액 (백만원),비중 (%),금액 (백만원),비중 (%),금액 (백만원),비중 (%),금액 (백만원),비중 (%),금액 (백만원),비중 (%)
1,총계,49159805,100.0,52300144,100.0,53938064,100.0,53778881,100.0,61725013,...,80409137,100.0,84318258,100.0,90460408,100.0,102048782,100.0,112798430,100.0
2,서울,12074840,22.3,12913964,24.0,13436966,24.9,12980600,24.1,14502519,...,19296437,24.0,20695311,24.5,22268213,24.6,25531987,25.0,28382503,25.2
3,지방계,37084965,-,39386180,-,40501098,-,40798280,-,47222494,...,-,-,-,-,-,-,-,-,-,-
4,부산,3062239,5.7,3352687,6.2,3386162,6.3,3401445,6.3,3973205,...,4947208,6.2,4935112,6.0,5191892,5.7,6199573,6.1,6468033,5.7
5,대구,1818648,3.4,1924374,3.6,2073421,3.8,2148115,4.0,2591818,...,3156682,3.9,3227882,3.8,3476077,3.9,3959389,3.9,4246517,3.8
6,인천,2428823,4.5,2790176,5.2,2754954,5.1,2855673,5.3,3220968,...,4427782,5.5,4465821,5.3,4809476,5.3,5187705,5.1,5923870,5.2
7,광주,1077114,2.0,1137184,2.1,1202985,2.2,1220622,2.3,1428496,...,1710868,2.1,1845600,2.2,2027885,2.3,2267962,2.2,2392719,2.1
8,대전,1162679,2.2,1332664,2.5,1320566,2.4,1258482,2.3,1549395,...,1713620,2.1,1735655,2.1,1991017,2.2,2252393,2.2,2511095,2.2
9,울산,1230508,2.3,1375029,2.6,1493288,2.8,1413522,2.6,1611003,...,1983863,2.5,1946957,2.3,2040650,2.3,2093867,2.0,2216360,2.0
10,세종,-,-,-,-,119099,0.2,216598,0.4,386816,...,665142,0.8,670652,0.8,666939,0.7,795242,0.8,877116,0.8
11,경기,12876723,23.9,12957501,24.2,13288767,24.7,13301235,24.7,15216198,...,20710614,25.8,22807183,27.0,24138048,26.7,25801039,25.3,29735913,26.4
12,강원,1222509,2.3,1272268,2.4,1344637,2.5,1330566,2.5,1473843,...,1944969,2.4,2057307,2.4,2168668,2.4,2653723,2.6,2875409,2.5
13,충북,1310314,2.4,1371252,2.5,1443528,2.7,1431512,2.7,1684169,...,2106205,2.6,2281543,2.7,2573152,2.9,2770501,2.7,3149318,2.8
14,충남,2097037,3.9,2297542,4.3,2307243,4.3,2226001,4.1,2624962,...,3433932,4.3,3507758,4.2,3560335,3.9,4125636,4.0,4595115,4.1
15,전북,1287562,2.4,1407180,2.6,1456057,2.7,1457454,2.7,1641746,...,2005960,2.5,2039943,2.4,2292195,2.5,2921771,2.9,3063559,2.7
16,전남,1434292,2.7,1580286,2.9,1622293,3.0,1599464,3.0,1751096,...,2319014,2.9,2392217,2.8,2714787,3.0,3564716,3.5,3730749,3.3
17,경북,2220366,4.1,2397531,4.5,2499249,4.6,2563701,4.8,2963881,...,3719931,4.6,3634277,4.3,3922794,4.3,4589594,4.5,4898316,4.3
18,경남,3334664,6.2,3609075,6.7,3504746,6.5,3605279,6.7,4195428,...,4818215,6.0,4616070,5.5,5098712,5.6,5731861,5.6,6046173,5.4
19,제주,521487,1.0,581431,1.1,684103,1.3,768612,1.4,909470,...,1448695,1.8,1458970,1.7,1519568,1.7,1601823,1.6,1685665,1.5

In [5]:
##연도별 금액값만 데이터에 넣기
df_2 = df_1.iloc[:,[1,3,5,7,9,11,13,15,17,19,21,23]]
df_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원),금액 (백만원)
1,49159805,52300144,53938064,53778881,61725013,70977794,75531651,80409137,84318258,90460408,102048782,112798430
2,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
3,37084965,39386180,40501098,40798280,47222494,53938960,57507475,-,-,-,-,-
4,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
5,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
6,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
7,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
8,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
9,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
10,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
11,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
12,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
13,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
14,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
15,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
16,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
17,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
18,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
19,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [6]:
df_2 = df_2.drop([0,1,3],axis=0)

In [7]:
df_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
4,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
5,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
6,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
7,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
8,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
9,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
10,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
11,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
12,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
13,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
14,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
15,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
16,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
17,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
18,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
19,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [8]:
df_2 = df_2.reset_index()

In [9]:
df_2 = df_2.drop(columns=['index'])

In [10]:
df_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
1,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
2,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
3,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
4,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
5,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
6,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
7,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
8,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
9,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
10,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
11,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
12,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
13,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
14,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
15,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
16,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [11]:
df_col = df_1['시도별(1)'].reset_index()

In [15]:
df_col = df_col.drop(columns='index')

In [13]:
df_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
1,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
2,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
3,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
4,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
5,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
6,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
7,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
8,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
9,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
10,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
11,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
12,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
13,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
14,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
15,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
16,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [21]:
df_col = df_col.drop([0,1,3],axis=0)

In [43]:
sido = ['서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도',
'전라북도','전라남도', '경상북도', '경상남도','제주특별자치도']

In [32]:
sido

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도',
 '연도']

In [24]:
df_col= df_col.reset_index()

In [29]:
df_col = df_col.drop(columns='index')

In [30]:
df_col

   시도별(1)
0      서울
1      부산
2      대구
3      인천
4      광주
5      대전
6      울산
7      세종
8      경기
9      강원
10     충북
11     충남
12     전북
13     전남
14     경북
15     경남
16     제주

In [33]:
df_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
1,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
2,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
3,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
4,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
5,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
6,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
7,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
8,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
9,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
10,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
11,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
12,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
13,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
14,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
15,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
16,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [37]:
df_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503
1,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033
2,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517
3,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870
4,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719
5,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095
6,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360
7,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116
8,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913
9,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409
10,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318
11,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115
12,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559
13,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749
14,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316
15,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173
16,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665

In [34]:
df_year = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021']

In [38]:
df_col

   시도별(1)
0      서울
1      부산
2      대구
3      인천
4      광주
5      대전
6      울산
7      세종
8      경기
9      강원
10     충북
11     충남
12     전북
13     전남
14     경북
15     경남
16     제주

In [39]:
sido

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도',
 '연도']

In [44]:
df_2['시도'] = sido

In [45]:
df_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,시도
0,12074840,12913964,13436966,12980600,14502519,17038835,18024176,19296437,20695311,22268213,25531987,28382503,서울특별시
1,3062239,3352687,3386162,3401445,3973205,4784818,4625095,4947208,4935112,5191892,6199573,6468033,부산광역시
2,1818648,1924374,2073421,2148115,2591818,2862891,2979772,3156682,3227882,3476077,3959389,4246517,대구광역시
3,2428823,2790176,2754954,2855673,3220968,3727717,4028661,4427782,4465821,4809476,5187705,5923870,인천광역시
4,1077114,1137184,1202985,1220622,1428496,1553789,1678987,1710868,1845600,2027885,2267962,2392719,광주광역시
5,1162679,1332664,1320566,1258482,1549395,1626744,1683926,1713620,1735655,1991017,2252393,2511095,대전광역시
6,1230508,1375029,1493288,1413522,1611003,1760321,1945369,1983863,1946957,2040650,2093867,2216360,울산광역시
7,-,-,119099,216598,386816,512028,499626,665142,670652,666939,795242,877116,세종특별자치시
8,12876723,12957501,13288767,13301235,15216198,17885557,19245126,20710614,22807183,24138048,25801039,29735913,경기도
9,1222509,1272268,1344637,1330566,1473843,1594058,1859620,1944969,2057307,2168668,2653723,2875409,강원도
10,1310314,1371252,1443528,1431512,1684169,1884993,2020649,2106205,2281543,2573152,2770501,3149318,충청북도
11,2097037,2297542,2307243,2226001,2624962,2836473,3120102,3433932,3507758,3560335,4125636,4595115,충청남도
12,1287562,1407180,1456057,1457454,1641746,1796926,1896033,2005960,2039943,2292195,2921771,3063559,전라북도
13,1434292,1580286,1622293,1599464,1751096,2002617,2243786,2319014,2392217,2714787,3564716,3730749,전라남도
14,2220366,2397531,2499249,2563701,2963881,3450733,3567765,3719931,3634277,3922794,4589594,4898316,경상북도
15,3334664,3609075,3504746,3605279,4195428,4535227,4736834,4818215,4616070,5098712,5731861,6046173,경상남도
16,521487,581431,684103,768612,909470,1124068,1376124,1448695,1458970,1519568,1601823,1685665,제주특별자치도

In [56]:
df_2 = df_2.melt(id_vars=['시도'], value_vars=['2010'	,'2011',	'2012',	'2013',	'2014'
                                      ,	'2015',	'2016',	'2017',	'2018',	'2019',	'2020',	'2021'], var_name='연도', value_name='지방세')

In [ ]:
df_2.to_csv('사용량, 지방세.csv')

In [49]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    17 non-null     object
 1   2011    17 non-null     object
 2   2012    17 non-null     object
 3   2013    17 non-null     object
 4   2014    17 non-null     object
 5   2015    17 non-null     object
 6   2016    17 non-null     object
 7   2017    17 non-null     object
 8   2018    17 non-null     object
 9   2019    17 non-null     object
 10  2020    17 non-null     object
 11  2021    17 non-null     object
 12  시도      17 non-null     object
dtypes: object(13)
memory usage: 1.9+ KB