In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('./기간_관광객_전력소비량.csv')

In [22]:
df =df.drop(columns='Unnamed: 0')

In [23]:
df

            기간      관광객    전력소비량
0    2010.01 월   801636  2335102
1    2010.02 월   893050  2188707
2    2010.03 월  1090884  2091419
3    2010.04 월  1086594  2115785
4    2010.05 월  1050680  1988778
..         ...      ...      ...
139  2021.08 월    36904  2878232
140  2021.09 월    39222  2636404
141  2021.10 월    51396  2461071
142  2021.11 월    57468  2519389
143  2021.12 월    51260  2779448

[144 rows x 3 columns]

In [24]:
for i in df['기간']:
    i = i.split(' 월')[0]

In [26]:
df['기간'] = df['기간'].astype('str')
df['기간'] = df['기간'].str.replace('.', '_')

C:\Users\admin\AppData\Local\Temp\ipykernel_6616\4011106517.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['기간'] = df['기간'].str.replace('.', '_')

In [28]:
df['기간'] = df['기간'].str.replace(' 월', '')

In [29]:
df

          기간      관광객    전력소비량
0    2010_01   801636  2335102
1    2010_02   893050  2188707
2    2010_03  1090884  2091419
3    2010_04  1086594  2115785
4    2010_05  1050680  1988778
..       ...      ...      ...
139  2021_08    36904  2878232
140  2021_09    39222  2636404
141  2021_10    51396  2461071
142  2021_11    57468  2519389
143  2021_12    51260  2779448

[144 rows x 3 columns]

In [36]:
year = []
month = []
for i in df['기간']:
    year.append(i.split('_')[0])
    month.append(i.split('_')[1])
year, month

(['2010',
  '2010',
  '2010',
  '2010',
  '2010',
  '2010',
  '2010',
  '2010',
  '2010',
  '2010',
  '2010',
  '2010',
  '2011',
  '2011',
  '2011',
  '2011',
  '2011',
  '2011',
  '2011',
  '2011',
  '2011',
  '2011',
  '2011',
  '2011',
  '2012',
  '2012',
  '2012',
  '2012',
  '2012',
  '2012',
  '2012',
  '2012',
  '2012',
  '2012',
  '2012',
  '2012',
  '2013',
  '2013',
  '2013',
  '2013',
  '2013',
  '2013',
  '2013',
  '2013',
  '2013',
  '2013',
  '2013',
  '2013',
  '2014',
  '2014',
  '2014',
  '2014',
  '2014',
  '2014',
  '2014',
  '2014',
  '2014',
  '2014',
  '2014',
  '2014',
  '2015',
  '2015',
  '2015',
  '2015',
  '2015',
  '2015',
  '2015',
  '2015',
  '2015',
  '2015',
  '2015',
  '2015',
  '2016',
  '2016',
  '2016',
  '2016',
  '2016',
  '2016',
  '2016',
  '2016',
  '2016',
  '2016',
  '2016',
  '2016',
  '2017',
  '2017',
  '2017',
  '2017',
  '2017',
  '2017',
  '2017',
  '2017',
  '2017',
  '2017',
  '2017',
  '2017',
  '2018',
  '2018',
  '2018',
  '2018',
  '2018',
  '2018',
  '2018',
  '2018',
  '2018',
  '2018',
  '2018',
  '2018',
  '2019',
  '2019',
  '2019',
  '2019',
  '2019',
  '2019',
  '2019',
  '2019',
  '2019',
  '2019',
  '2019',
  '2019',
  '2020',
  '2020',
  '2020',
  '2020',
  '2020',
  '2020',
  '2020',
  '2020',
  '2020',
  '2020',
  '2020',
  '2020',
  '2021',
  '2021',
  '2021',
  '2021',
  '2021',
  '2021',
  '2021',
  '2021',
  '2021',
  '2021',
  '2021',
  '2021'],
 ['01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12'])

In [37]:
df['연도'] = year
df['월'] = month

In [40]:
df = df.astype({'연도':'int','월':'int'})

In [42]:
# df.to_csv('기간_관광객_전력소비량(2).csv')