### 데이터 분석 및 지도 시각화 Library Load

In [9]:
import pandas as pd
import json
import folium

### 데이터 전처리

In [10]:
df_1 = pd.read_csv("./시도_연도_GRDP.csv")
df_1.drop(columns=['Unnamed: 0'], inplace=True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      204 non-null    object
 1   연도      204 non-null    int64
 2   지역내총생산  204 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.9+ KB

In [11]:
df_1

          시도    연도     지역내총생산
0      서울특별시  2010  333249300
1      부산광역시  2010   71968834
2      대구광역시  2010   44114977
3      인천광역시  2010   69301148
4      광주광역시  2010   30457831
..       ...   ...        ...
199     전라북도  2021   50398818
200     전라남도  2021   77027126
201     경상북도  2021  104960491
202     경상남도  2021  105347557
203  제주특별자치도  2021   18175224

[204 rows x 3 columns]

In [14]:
df_2 = pd.read_csv("./마커.csv")
df_2.drop(columns=['Unnamed: 0'], inplace=True)
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      17 non-null     object
 1   위도      17 non-null     float64
 2   경도      17 non-null     float64
dtypes: float64(2), object(1)
memory usage: 536.0+ bytes

In [15]:
df_2

         시도         위도          경도
0     서울특별시  37.551638  126.993243
1       강원도  37.820812  128.156579
2       경기도  37.412505  127.520017
3      경상남도  35.460156  128.215601
4      경상북도  36.327952  128.951526
5     광주광역시  35.154840  126.836647
6     대구광역시  35.825757  128.576897
7     대전광역시  36.339403  127.396923
8     부산광역시  35.209853  129.069121
9   세종특별자치시  36.560326  127.258638
10    울산광역시  35.553064  129.254432
11    인천광역시  37.455307  126.703920
12     전라남도  34.867289  126.993547
13     전라북도  35.717518  127.156528
14  제주특별자치도  33.424967  126.778084
15     충청남도  36.717428  126.801751
16     충청북도  36.999466  127.700783

In [16]:
df_data = pd.merge(df_1,df_2, how='outer',on='시도')
df_data

          시도    연도     지역내총생산         위도          경도
0      서울특별시  2010  333249300  37.551638  126.993243
1      서울특별시  2011  343756313  37.551638  126.993243
2      서울특별시  2012  348568408  37.551638  126.993243
3      서울특별시  2013  354319250  37.551638  126.993243
4      서울특별시  2014  359661759  37.551638  126.993243
..       ...   ...        ...        ...         ...
199  제주특별자치도  2017   19144657  33.424967  126.778084
200  제주특별자치도  2018   18968300  33.424967  126.778084
201  제주특별자치도  2019   19186190  33.424967  126.778084
202  제주특별자치도  2020   17957495  33.424967  126.778084
203  제주특별자치도  2021   18175224  33.424967  126.778084

[204 rows x 5 columns]

In [17]:
# df_data.to_csv('전력량_grdp_마커.csv')

In [3]:
df_1.tail(20)

          시도    연도     지역내총생산
184     경상북도  2020  101370158
185     경상남도  2020  103425415
186  제주특별자치도  2020   17957495
187    서울특별시  2021  432406018
188    부산광역시  2021   87906722
189    대구광역시  2021   56026338
190    인천광역시  2021   89984023
191    광주광역시  2021   41118247
192    대전광역시  2021   42368245
193    울산광역시  2021   69621279
194  세종특별자치시  2021   12489323
195      경기도  2021  496672331
196      강원도  2021   46476220
197     충청북도  2021   70139551
198     충청남도  2021  118002148
199     전라북도  2021   50398818
200     전라남도  2021   77027126
201     경상북도  2021  104960491
202     경상남도  2021  105347557
203  제주특별자치도  2021   18175224

In [4]:
year = 2010

df_ver = df_1.query('연도 == @year')

In [5]:
df_1.query('연도 == @year')

         시도    연도     지역내총생산
0     서울특별시  2010  333249300
1     부산광역시  2010   71968834
2     대구광역시  2010   44114977
3     인천광역시  2010   69301148
4     광주광역시  2010   30457831
5     대전광역시  2010   33247905
6     울산광역시  2010   66254235
7   세종특별자치시  2010          0
8       경기도  2010  300716256
9       강원도  2010   35452559
10     충청북도  2010   43503412
11     충청남도  2010   92056862
12     전라북도  2010   41674930
13     전라남도  2010   67644440
14     경상북도  2010   92044050
15     경상남도  2010   98297235
16  제주특별자치도  2010   12380394

In [6]:
df_data = df_ver[['시도', '지역내총생산']]
df_data

         시도     지역내총생산
0     서울특별시  333249300
1     부산광역시   71968834
2     대구광역시   44114977
3     인천광역시   69301148
4     광주광역시   30457831
5     대전광역시   33247905
6     울산광역시   66254235
7   세종특별자치시          0
8       경기도  300716256
9       강원도   35452559
10     충청북도   43503412
11     충청남도   92056862
12     전라북도   41674930
13     전라남도   67644440
14     경상북도   92044050
15     경상남도   98297235
16  제주특별자치도   12380394

In [7]:
df_data_test = df_data.to_dict(orient='records')
df_data_test

[{'시도': '서울특별시', '지역내총생산': 333249300},
 {'시도': '부산광역시', '지역내총생산': 71968834},
 {'시도': '대구광역시', '지역내총생산': 44114977},
 {'시도': '인천광역시', '지역내총생산': 69301148},
 {'시도': '광주광역시', '지역내총생산': 30457831},
 {'시도': '대전광역시', '지역내총생산': 33247905},
 {'시도': '울산광역시', '지역내총생산': 66254235},
 {'시도': '세종특별자치시', '지역내총생산': 0},
 {'시도': '경기도', '지역내총생산': 300716256},
 {'시도': '강원도', '지역내총생산': 35452559},
 {'시도': '충청북도', '지역내총생산': 43503412},
 {'시도': '충청남도', '지역내총생산': 92056862},
 {'시도': '전라북도', '지역내총생산': 41674930},
 {'시도': '전라남도', '지역내총생산': 67644440},
 {'시도': '경상북도', '지역내총생산': 92044050},
 {'시도': '경상남도', '지역내총생산': 98297235},
 {'시도': '제주특별자치도', '지역내총생산': 12380394}]

In [8]:
jsonfile = open('Sido.json','r',encoding='utf8').read()     # 시도구분된 지역 json 파일 가져오기
jsondata = json.loads(jsonfile)                             
jsondata_loc = {'type': 'FeatureCollection'}                # Sido.json을 복사해서 일부 특성(Key와 Record) 추가
jsondata_pick = []
for idx in jsondata['features']:
    idx['id'] = idx['properties']['CTP_KOR_NM']             # Sido.
    for i in df_data_test:
        if i['시도'] == idx['properties']['CTP_KOR_NM']:    # Sido.json의 지역과 일치하면 pop이라는 Key를 새로 만들고
            idx['properties']['pop'] = i['지역내총생산']         # 해당 지역의 2021.12. 시점의 물가지수를 입력
    jsondata_pick.append(idx)                               # 추가된 값을 jsondata_pick에 저장
jsondata_loc['features'] = jsondata_pick                    # jsondata_loc의 features 키에 저장

# 지도 생성, location : 시작위치, zoom_start : 시작 시 확대정도
map = folium.Map(location=[36.0068191, 127.6607805],zoom_start=7) 
cho = folium.Choropleth(geo_data=jsondata_loc,              # 색상단계도 생성, geo_data : 참고할 위치정보 데이터
                  data=df_data,                          # data : geo_data와 비교해 맞출 데이터
                  columns=['시도', '지역내총생산'],              # columns : data에서 사용할 열
                  fill_color="YlGnBu",                      # fill_color : 색 
                  key_on='feature.id',                      # key_on : data와 맞출 geo_data의 데이터
                  legend_name='시도별 지역내총생산(GRDP)').add_to(map)    # legend_name : 범례 제목 입력       
cho.geojson.add_child(                                      # 속성 부여
    folium.features.GeoJsonPopup(['CTP_KOR_NM','pop'],labels=False,style='font-weight : bold')
)   # popup 넣기, geo_data의 properties 키의 값들 중 선택 가능, labels : 열이름 유무, style : 서식
for row in df_data_test:
    lat = row['위도']
    lon = row['경도']
    folium.CircleMarker(location=[lat, lon],
                        radius=row['사용량'] / 500000, # 전력량 값을 radius로 사용
                        color='red',
                        fill_color='red',
                        fill_opacity=0.7,
                        tooltip=row['시도']).add_to(cho)
map

FileNotFoundError: [Errno 2] No such file or directory: 'Sido.json'